<style>
.nav-pills > li > a:hover {
    background-color: #cdcdcd;
}
.nav-pills > li > a:active2 {
    background-color: #cdcdcd;
}
       
</style>


<ul class="nav nav-pills" style="padding: 0.5em 0.5em; font-size: 1.5em; " >

    {% url 'chemmaps:home' as url %}
    <li><a href="{{ url }}" style="color: #232b5f" ><i class="fa fa-home fa-lg"></i>&nbsp;ChemMaps.com</a></li>

    <!--{% url 'chemmaps:drugbank' as url %}
    <li {% if map == "drugbank" %} class="active"{% endif %}><a href="{{ url }}" style="color: #91e4f8">DrugMap</a></li>

    {% url 'chemmaps:dsstox' as url %}
    <li {% if map == "dsstox" %} class="active"{% endif %}><a href="{{ url }}" style="color: #91e4f8">DSSToxMap</a></li>
    
    {% url 'chemmaps:tox21' as url %}
    <li {% if map == "tox21" %} class="active"{% endif %}><a href="{{ url }}" style="color: #91e4f8">Tox21Map</a></li>

    {% url 'chemmaps:pfas' as url %}
    <li {% if map == "pfas" %} class="active"{% endif %}><a href="{{ url }}" style="color: #91e4f8">PFASMap</a></li>
    -->
    {% url 'chemmaps:help' as url %}
    <li><a href="{{ url }}" style="color: #232b5f">Need help?</a></li>

</ul>
