{% load static %}

<link href="{% static 'css/ag-grid.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/ag-theme-balham.min.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/ag-grid-community.min.noStyle.js' %}" type="text/javascript"></script>
<script src="{% static 'chemmaps/js/tableAssays.js' %}" type="text/javascript"></script>

<br>
<br>
<br>
<h2><img src="{% static 'chemmaps/img/arrow.png' %}" style="width:30px" alt="Arrow used to extend the page"> Project Tox21 assay results</h2>

<p>Choose a assay protocol or an assay target. Assay target will provide you a concensus of all Tox21 assays that target the same gene. Tox21 assay results have been extracted from the <a class = "aurl" target="_blank" href="htps://ice.ntp.niehs.nih.gov/">Integrated Chemical Environement</a>.
</p>
<p><div id="myGrid" style="height: 400px;margin-left: 30px; margin-right: 30px;" class="ag-theme-balham"></div></p>
<br>
<h2><img src="{% static 'chemmaps/img/arrow.png' %}" style="width:30px" alt="Arrow used to extend the page"> Project by chemical the most active assay</h2>
<p>Only the most active assay result is projected for each chemical.</p>
<form action='/chemmaps/tox21/mostactive/' method='post' onsubmit="ShowLoading()">{% csrf_token %}
    <input type='submit' value='Tox21Map with lowest AC50 by chemicals'>
</form>
<br>
<div style="margin-left: 10px;"><form method="post" action="/chemmaps/tox21/browsechemicals/" onsubmit="ShowLoading()">{% csrf_token %}<button class="btn"><i class="fa fa-space-shuttle"></i> Browse the chemical list with the lowest AC50</button></form></div>
    

<style>
    .ag-theme-balham {
        /* use theme parameters where possible */
        font-size: 15px;

    }
    .ag-theme-balham .ag-header {
        font-style: normal;
        font-size: 20px;
        background-color: #232b5f;
    }
    .ag-theme-balham .ag-header-cell-label {
        color: #fff; 
    }
    
</style>



<script>
    var dassays = {{ dassays | safe }};
    // lookup the container we want the Grid to use
    var eGridDiv = document.querySelector('#myGrid');
    // create the grid passing in the div to use together with the columns & data we want to use
    gridOptions = defineGridOption(dassays);
    new agGrid.Grid(eGridDiv, gridOptions);
    
</script>
