<style>
    * {
        box-sizing: border-box;
    }

    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        width: 33.33%;
        padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
        }
    }
</style>
{% extends "base.html" %}
{% load static %}
{% block extra-css %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css" rel="stylesheet" type="text/css" />
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css" rel="stylesheet" type="text/css" />
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css" rel="stylesheet" type="text/css" />

<link href="{% static 'chemmaps/css/theme.css' %}" rel="stylesheet">
{% endblock %}
{% block title %} Descriptors - {{map}}{% endblock %}
{% block content %}
<script src="{% static 'chemmaps/js/theme.js' %}"></script> 

<div role="navigation"> {% include 'chemmaps/includes/navbar.html' %}</div>
<div id = "bg">
    <br>
    <h2><img src="{% static 'chemmaps/img/arrow.png' %}" style="width:30px" alt="Arrow used to extend the page">Descriptor computation</h2>
    <br>

    {% if ErrorDesc == "1" %}
        <p class = "Errorform" style="margin-right: 0px"> No descriptor computed.</p>
    {% endif %}

    <div class="row">
        <div class="column" style="background-color:#232b5f;">
            <h3>Inputs</h3>

            <div class="divTable">
                <div class="divTableHeading">
                    <div class="divTableHead">&nbsp;ID</div>
                    <div class="divTableHead">&nbsp;Input</div>
                </div>
                <div class="divTableBody">
                    {% for lk, lv in dSMILESIN.items %}
                        <div class="divTableRow">
                                <div class="divTableCell">&nbsp;{{lk}}</div>
                                <div class="divTableCell">&nbsp;{{lv}}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="column" style="background-color:#232b8b;">
            <h3>QSAR-ready SMILES</h3>
            
            <div class="divTable">
                    <div class="divTableHeading">
                        <div class="divTableHead">&nbsp;ID</div>
                        <div class="divTableHead">&nbsp;SMILES</div>
                        <div class="divTableHead">&nbsp;</div>
                    </div>
                    <div class="divTableBody">
                            {% for k1, dout in dSMILESOUT.items %}
                            <div class="divTableRow">
                                    <div class="divTableCell">&nbsp;{{k1}}</div>
                                    <div class="divTableCell">&nbsp;{{dout.SMILES}}</div>
                                    {% if dout.file == 'img/checkOK.png' %}
                                        <div class="divTableCell"><img src="{% static 'chemmaps/img/checkOK.png' %}" width="25px" alt="Valide upload"></div>
                                    {% else %}
                                        <div class="divTableCell"><img src="{% static 'chemmaps/img/checkNo.png' %}" width="25px" alt="Error upload"></div>
                                    {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
        <div class="column" style="background-color:#08627e;">
            <h3>Descriptor</h3>
            <div class="divTable">
                    <div class="divTableHeading">
                        <div class="divTableHead">&nbsp;ID</div>
                        <div class="divTableHead">&nbsp;Descriptor</div>
                        <div class="divTableHead">&nbsp;</div>
                    </div>
                    <div class="divTableBody">
                            {% for k1, dout in ddesc.items %}
                            <div class="divTableRow">
                                    <div class="divTableCell">&nbsp;{{k1}}</div>
                                    <div class="divTableCell">&nbsp;{{dout.Descriptor}}</div>
                                    {% if dout.desc == 'img/checkOK.png' %}
                                        <div class="divTableCell"><img src="{% static 'chemmaps/img/checkOK.png' %}" width="25px" alt="Valide upload"></div>
                                    {% else %}
                                        <div class="divTableCell"><img src="{% static 'chemmaps/img/checkNo.png' %}" width="25px" alt="Error upload"></div>
                                    {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            <br>
            {% if ErrorDesc != "1" %}
            <div align="right">
                <form method="get" action="/chemmaps/2D.csv"><button class="btn"><i class="fa fa-download"></i> Download 2D descriptor table</button></form>
                <form method="get" action="/chemmaps/3D.csv"><button class="btn"><i class="fa fa-download"></i> Download 3D descriptor table</button></form>
            </div>
            {% endif %}
            {% if ErrorDesc == "1" %}
            {% if map == "drugbank"  %}
            <form action='/chemmaps/DrugMap' method='get'>
                <input type='submit' value='Resubmit SMILES' />
            </form>
            {% endif %}
            {% if map == "dsstox"  %}
            <form action='/chemmaps/DSSToxMap' method='get'>
                <input type='submit' value='Resubmit SMILES' />
            </form>
            {% endif %}
            {% if map == "pfas"  %}
            <form action='/chemmaps/PFASMap' method='get'>
                <input type='submit' value='Resubmit SMILES' />
            </form>
            {% endif %}
            {% if map == "tox21"  %}
            <form action='/chemmaps/Tox21Map' method='get'>
                <input type='submit' value='Resubmit SMILES' />
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <br><br>

    {% if ErrorDesc != "1" %}

    <h2><img src="{% static 'chemmaps/img/arrow.png' %}" style="width:30px" alt="Arrow used to extend the page">Generate the {{map.capitalize}}Map</h2>
    <p>Select up to 5 features you would like put on the map</p>

    {% if Error == "1" %}
    <p class = "Errorform"> Please choose only 5 categories</p>
    {% endif %}
    {% if map == "drugbank"  %}
    <form action='/chemmaps/DrugMapAdd/' method='post' onsubmit="ShowLoading()">{% csrf_token %}
        <div class="row">
            <div class="column">
                {% for aa in form_info.desc %}
                {% if forloop.counter0|divisibleby:10 %}  </div><div class="column"> {% endif %}
                {% if forloop.counter == 1 %} <b>Chemical information</b>{% endif %}
                {% if forloop.counter == 7 %} <b>Chemical rules</b>{% endif %}
                {% if forloop.counter == 11 %} <b>Descriptors</b>{% endif %}
                <div class="checkbox">{{ aa }}</div>
                {%endfor%}
                <br>
                <input type='submit' value='Generate DrugMap'>
            </div>
        </div>
    </form>
    {% endif %}
    {% if map == "pfas"%}
    <form action='/chemmaps/PFASMapAdd/' method='post' onsubmit="ShowLoading()">{% csrf_token %}
        <div class="row">
            <div class="column">
                {% for aa in form_info.desc %}
                {% if forloop.counter0|divisibleby:10 %}  </div><div class="column"> {% endif %}
                {% if forloop.counter == 1 %} <b>Chemical classification</b>{% endif %}
                {% if forloop.counter == 3 %} <b>Toxicology prediction</b>{% endif %}
                {% if forloop.counter == 12 %} <b>Physicochemical prediction</b>{% endif %}
                {% if forloop.counter == 31 %} <b>Descriptors</b>{% endif %}
                <div class="checkbox">{{ aa }}</div>
                {%endfor%}
                <br>
                <input type='submit' value='Generate PFASMap'>
            </div>
        </div>
    </form>
    {% endif %}
    {% if map == "tox21"%}
    <form action='/chemmaps/Tox21MapAdd/' method='post' onsubmit="ShowLoading()">{% csrf_token %}
        <div class="row">
            <div class="column">
                {% for aa in form_info.desc %}
                {% if forloop.counter0|divisibleby:10 %}  </div><div class="column"> {% endif %}
                {% if forloop.counter == 1 %} <b>Chemical classification</b>{% endif %}
                {% if forloop.counter == 3 %} <b>Toxicology prediction</b>{% endif %}
                {% if forloop.counter == 12 %} <b>Physicochemical prediction</b>{% endif %}
                {% if forloop.counter == 31 %} <b>Descriptors</b>{% endif %}
                <div class="checkbox">{{ aa }}</div>
                {%endfor%}
                <br>
                <input type='submit' value='Generate Tox21Map'>
            </div>
        </div>
    </form>
    {% endif %}   
    {% if map == "dsstox"%}
    <form action='/chemmaps/DSSToxMapAdd/' method='post' onsubmit="ShowLoading()">{% csrf_token %}
        <div class="row">
            <div class="column">
                {% for aa in form_info.desc %}
                {% if forloop.counter0|divisibleby:10 %}  </div><div class="column"> {% endif %}
                {% if forloop.counter == 1 %} <b>Chemical classification</b>{% endif %}
                {% if forloop.counter == 3 %} <b>Toxicology prediction</b>{% endif %}
                {% if forloop.counter == 12 %} <b>Physicochemical prediction</b>{% endif %}
                {% if forloop.counter == 31 %} <b>Descriptors</b>{% endif %}
                <div class="checkbox">{{ aa }}</div>
                {%endfor%}
                <br>
                <input type='submit' value='Generate DSSToxMap'>
            </div>
        </div>
    </form>
    {% endif %}
    {% endif %}
    <br>
</div>
{% endblock content %}

