{% extends "base.html" %}
{% load static %}
{% block extra-css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css"
rel="stylesheet" type="text/css"/> 
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css"
rel="stylesheet" type="text/css"/>
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css"
rel="stylesheet" type="text/css"/> 
<link href="{% static 'chemmaps/css/theme.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<style>

    /* Float four columns side by side */
    .columnCard {
        float: center;
        width: 25%;
    }

    .column {
        float: center;
        padding: 0 10px;
        width: auto;
    }

    /* Remove extra left and right margins, due to padding */
    .row {
        margin: 0;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }


    .card-custom {
        max-width: 400px;
        min-width: 200px;
        margin: 0 auto;
    }
</style>


<div role="navigation"> {% include 'chemmaps/includes/navbar.html' %}</div>


<div class="container-fluid bgindex text-center padding-left: 0px">
    <br><br><br>Under construction<br><br><br><br>
</div>

<div class="container padding: 0px">
    <br><br><br><br><br><br><br>
</div>
<div class="container-fluid bgindex text-center padding-left: 0px">
    <br><br><br><br><br><br><br>
</div>

<div class="container padding: 0px">
    <div class="row">
        <div class="column">
            <div class="card-custom">
                <div class="card-body text-center">
                    <br>
                    <a href="https://www.djangoproject.com/">
                        <img src="{% static 'chemmaps/img/django_python.png' %}" style="width:100px" alt="Logo python django">
                    </a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card-custom">
                <div class="card-body text-center">
                    <br>
                    <a href="https://www.r-project.org/">
                        <img src="{% static 'chemmaps/img/R_logo.png' %}" style="width:100px" alt="Logo R project">
                    </a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card-custom">
                <div class="card-body text-center">
                    <br>
                    <a href="https://www.javascript.com/">
                        <img src="{% static 'chemmaps/img/js_logo.png' %}" style="width:100px" alt="Logo JS">
                    </a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card-custom">
                <div class="card-body text-center">
                    <br><br>
                    <a href="https://threejs.org/">
                        <img src="{% static 'chemmaps/img/three_JS_logo.png' %}" style="width:150px" alt="Logo Three.JS">
                    </a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card-custom">
                <div class="card-body text-center">
                    <br>
                    <a href="https://www.rdkit.org/">
                        <img src="{% static 'chemmaps/img/rdkit_logo.png' %}" style="width:100px" alt="Logo RDKit project">
                    </a>
                </div>
            </div>
        </div>


        <div class="column">
            <div class="card-custom">
                <div class="card-body text-center">
                    <br>
                    <a href="https://github.com/kmansouri/OPERA">
                        <img src="{% static 'chemmaps/img/OPERA_logo.png' %}" style="width:150px" alt="Logo OPERA">
                    </a>
                </div>
            </div>
        </div>


        <div class="column">
            <div class="card-custom">
                <div class="card-body text-center">
                    <br>
                    <a href="https://comptox.epa.gov/dashboard">
                        <img src="{% static 'chemmaps/img/EPA_dashboard_logo.png' %}" style="width:100px" alt="Logo EPA chemical dashboard">
                    </a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card-custom">
                <div class="card-body text-center">
                    <br>
                    <a href="https://go.drugbank.com/">
                        <img src="{% static 'chemmaps/img/drugbank_logo.png' %}" style="width:100px" alt="Logo DrugBank">
                    </a>
                </div>
            </div>
        </div>


    </div>
    <br>

</div>

{% endblock content %}
