{% extends "base.html" %}
{% load static %}
{% block extra-css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css"
rel="stylesheet" type="text/css"/> 
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css"
rel="stylesheet" type="text/css"/>
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css"
rel="stylesheet" type="text/css"/> 
<link href="{% static 'chemmaps/css/theme.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div role="navigation"> {% include 'chemmaps/includes/navbar.html' %}</div>

<div id = "bg">
        <br>
        <h1>Navigation</h1>
        <p>
            Inspired by popular navigation tools such as Google Maps
            , users have different options accessible from the main
            panel<br>
            (A) A dedicated search bar allowing users to
            rapidly identify a specific drug based on its
            chemical name, ID, or generic name; <br>
            (B) A description
            panel including chemical properties such as logP or
            molecular weight and the actual chemical structure of
            the selected molecule. This panel also includes options
            to extract and/or connect up to twenty most similar
            molecules in that space; <br>
            (C) A visualization panel including options to choose
            which types of drugs are displayed (e.g., approved,
            withdrawn, in development), and options to setup the
            color of compounds based on chemical properties
            (e.g., molecular weight, logP).
            <br><br>

            <br>
            <img src="{% static 'chemmaps/img/methods.png' %}" style="width: 80%" class="marginauto">


        <div class="row">
            <div class="column">

                <img src="{% static 'chemmaps/img/stargreen.png' %}" style="opacity: 1" alttext="Green star for approved drug">
                <div class="desc">Approved drug</div>
            </div>
            <div class="column">
                <img src="{% static 'chemmaps/img/starviolet.png' %}" alttext="Violet star for withdrawn drug" style="opacity: 1">
                <div class="desc">Approved drug</div>
            </div>
            <div class="column">
                <img src="{% static 'chemmaps/img/planet.png' %}" alttext="Planet for drug in development" style="opacity: 1">
                <div class="desc">Investigational drug</div>
            </div>
        </div>


        <h2>Material</h2>
        <p style="font-size: 2vmin">
            DrugMap is solely focusing on the chemical space
            defined by all drugs from the DrugBank database
            with 8,752 compounds (release dated 2017-12-20).
            Only small molecules were considered as peptides
            and non-organic compounds were removed.
            <br><br>
            <a href="https://www.drugbank.ca/">
                <img src="{% static 'chemmaps/img/DrugBank.png' %}" style="width: 60%" class="marginauto">
            </a>
        </p>
        <br>

        <h2>Methods</h2>
        <p style="font-size: 2vmin">
            ChemMaps uses a compendium of 1D, 2D and 3D pre-computed
            molecular descriptors to generate the drug space in
            three dimensions. The first two dimensions were defined
            using a principal component analysis from a set of 648
            1D/2D RDKit descriptors computed using the Python
            library PyDPI. Only informative descriptors
            (i.e., no null variance, no correlated descriptors with
            pairwise R> 0.8) are conserved. The third dimension was
            computed using 432 3D PADEL descriptors filtered using
            the same protocol. Importantly, 3D chemical structures
            were generated from SMILES strings using Ligprep from
            the Schrödinger software suite (release 2017.3), with
            only the most stable conformation conserved for each
            chemical. <br>
            Drugs’ first and second coordinates were computed from
            116 1D and 2D descriptors, representing 14.0% (X-axis)
            and 8.7% (Y-axis) of the overall variance in the
            descriptor space. The third coordinate was computed
            from 70 3D descriptors defining 26.0% of descriptor
            variability.
            <br><br>

            <a class="btnghost" href="https://pypi.python.org/pypi/pydpi/1.0" target="_blank">
                <i class="fa fa-external-link">
                    pydpi 1.0
                </i>
            </a>
        </p>

        <p style="font-size: 2vmin">
            ChemMaps.com was developed in JavaScript using the
            Three.js library, which allows for an interactive,
            mouse-based, easy-to-use navigation in any
            internet browser.
            <br><br>
            <a class="btnghost" href="https://threejs.org/" target="_blank">
                <i class="fa fa-external-link">
                    Three.js
                </i>
            </a>
        </p>
        <br><br>



        <div class="row">
            <div class="column">
                <img src="{% static 'chemmaps/img/starGHS1.png' %}" style="opacity: 1">
                <div class="desc">GHS = 1</div>
            </div>
            <div class="column">
                <img src="{% static 'chemmaps/img/starGHS2.png' %}"  style="opacity: 1">
                <div class="desc">GHS = 2</div>
            </div>
            <div class="column">
                <img src="{% static 'chemmaps/img/starGHS3.png' %}"  style="opacity: 1">
                <div class="desc">GHS = 3</div>
            </div>
            <div class="column">
                <img src="{% static 'chemmaps/img/starGHS4.png' %}"  style="opacity: 1">
                <div class="desc">GHS = 4</div>
            </div>
            <div class="column">
                <img src="{% static 'chemmaps/img/starGHS5.png' %}"  style="opacity: 1">
                <div class="desc">GHS = 5</div>
            </div>
        </div>


        <div class="row">
            <div class="column">
                <img src="{% static 'chemmaps/img/starEPA1.png' %}" style="opacity: 1">
                <div class="desc">EPA = 1</div>
            </div>
            <div class="column">
                <img src="{% static 'chemmaps/img/starEPA2.png' %}"  style="opacity: 1">
                <div class="desc">EPA = 2</div>
            </div>
            <div class="column">
                <img src="{% static 'chemmaps/img/starEPA3.png' %}"  style="opacity: 1">
                <div class="desc">EPA = 3</div>
            </div>
            <div class="column">
                <img src="{% static 'chemmaps/img/starEPA4.png' %}"  style="opacity: 1">
                <div class="desc">EPA = 4</div>
            </div>
        </div>

        <br><br>

        <div class="row">
            <div class="column">
                <img src="{% static 'chemmaps/img/star.png' %}" style="opacity: 1">
                <div class="desc">No tox information</div>
            </div>
            <div class="column">
                <img src="{% static 'chemmaps/img/starred.png' %}"  style="opacity: 1">
                <div class="desc">Selected Chemical</div>
            </div>
        </div>

        <br>

        <h2>Material</h2>
        <p style="font-size: 2vmin">
            DSSTOxMap is solely focusing on the chemical space
            defined by all chemicals from the EPA DSSTox library
            with ~700,000 compounds (release dated 01-2019).
            <br><br>
            <a href="https://comptox.epa.gov/dashboard/"><img src="{% static 'chemmaps/img/EPA-dashboard.png' %}" class="marginauto"></a>
        </p>
        <p><br></p>



        <h2>Methods</h2>
        <p style="font-size: 2vmin">
            ChemMaps uses a compendium of 1D, 2D and 3D pre-computed
            molecular descriptors to generate the environmental chemicals
            space in three dimensions. The first two dimensions were defined
            using a principal component analysis from a set of 648
            1D/2D RDKit descriptors computed using the Python
            library PyDPI. Only informative descriptors
            (i.e., no null variance, no correlated descriptors with
            pairwise R> 0.8) are conserved. The third dimension was
            computed using 502 3D descriptors filtered using
            the same protocol. Importantly, 3D chemical structures
            were generated from SMILES strings using MMFF94 force field.
            <br>
            Chemicals' first and second coordinates were computed from
            138 1D and 2D descriptors, representing 13.1% (X-axis)
            and 9.19% (Y-axis) of the overall variance in the
            descriptor space. The third coordinate was computed
            from 78 3D descriptors defining 23.6% of descriptor
            variability.<br>
            <br>

            <a class="btnghost" href="https://pypi.python.org/pypi/pydpi/1.0" target="_blank">
                <i class="fa fa-external-link">
                    pydpi 1.0
                </i>
            </a>
        </p>

        <p style="font-size: 2vmin">
            ChemMaps.com was developed in JavaScript using the
            Three.js library, which allows for an interactive,
            mouse-based, easy-to-use navigation in any
            internet browser.
            <br><br>
            <a class="btnghost" href="https://threejs.org/" target="_blank">
                <i class="fa fa-external-link">
                    Three.js
                </i>

            </a>
            <br><br>

    <br><br>
</div>


{% endblock content %}
