{% extends "base.html" %}
{% load static %}
{% block extra-css %}

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'chemmaps/css/theme.css' %}" rel="stylesheet">
{% endblock %}
{% block title %} Index chemmaps{% endblock %}
{% block content %}

<style>

    /* Float four columns side by side */
    .columnCard {
        float: center;
        width: 25%;
    }

    .column {
        float: center;
        padding: 0 10px;
        width: auto;
    }

    /* Remove extra left and right margins, due to padding */
    .row {
        margin: 0;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }


    .card-custom {
        max-width: 400px;
        min-width: 200px;
        margin: 0 auto;
    }
</style>


<div id="cookie-consent" class="cookie-consent">
    <p>This site uses cookies for better performance and user experience. Do you agree to use cookies?</p>
    <button id="accept-cookie-btn">Accept</button>
    <button id="reject-cookie-btn">Decline</button>
</div>

<script>

    // Get the cookie consent element and the accept and reject buttons
    var cookieConsent = document.getElementById("cookie-consent");
    var acceptBtn = document.getElementById("accept-cookie-btn");
    var rejectBtn = document.getElementById("reject-cookie-btn");

    // Check if the user has already accepted or rejected the cookie policy
    var cookieConsentStatus = getCookie("cookie_consent");
    if (cookieConsentStatus === "accepted") {
        // If the user has already accepted the cookie policy, hide the cookie consent form
        cookieConsent.style.display = "none";
    } else if (cookieConsentStatus === "rejected") {
        // If the user has already rejected the cookie policy, remove any existing cookies and hide the cookie consent form
        removeCookie("cookie_consent");
        removeCookie("other_cookies");
        cookieConsent.style.display = "none";
    } else {
        // If the user has not accepted or rejected the cookie policy, show the cookie consent form
        cookieConsent.style.display = "block";
    }

    // When the user clicks on the accept button, set a cookie and hide the cookie consent form
    acceptBtn.onclick = function() {
        // Set a cookie to remember that the user has accepted the cookie policy
        setCookie("cookie_consent", "accepted", 365);

        // Set any other cookies that are necessary for the website to function
        setCookie("other_cookies", "example_cookie_value", 365);

        // Hide the cookie consent form
        cookieConsent.style.display = "none";
    }

    // When the user clicks on the reject button, set a cookie to remember that the user has rejected the cookie policy and remove any existing cookies
    rejectBtn.onclick = function() {
        // Set a cookie to remember that the user has rejected the cookie policy
        setCookie("cookie_consent", "rejected", 365);

        // Remove any other cookies that were previously set
        removeCookie("other_cookies");

        // Hide the cookie consent form
        cookieConsent.style.display = "none";

        // exist website
        window.location.href = "https://ntp.niehs.nih.gov/";
    }

    // Helper function to set a cookie
    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    // Helper function to get a cookie
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    // Helper function to remove a cookie
    function removeCookie(name) {
        document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    }

</script>

<style>
    .cookie-consent {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    .cookie-consent p {
        margin: 0;
        font-size: 14px;
    }

    .cookie-consent button {
        background-color: #4285f4;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 14px;
        cursor: pointer;
    }

    .cookie-consent button:hover {
        background-color: #2d6eb3;
    }
</style>



<div role="navigation"> {% include 'chemmaps/includes/navbar.html' %}</div> 

<div class="container-fluid bgindex text-center padding-left: 0px">
    <br>
    {% if DTXSID != "" %}
        <p class = "Errorform" style="margin-right: 0px"> {{DTXSID}} is not included in the DSSToxMap.</p>
    {% endif %}
    <br><br><br><br><br>
    <htitle>www.chemmaps.com</htitle><br><br>
    <p><i>"A way to navigate in the chemical space"</i><br>
    This website is free and open to all users and there is no login requirement.</p><br>
    <p style="text-align:  center; font-size: 30px">Choose a map among the four maps available and navigate in the space</p>

    <br><br><br>
</div>

<div class="container padding: 0px">
    <br>
    <div class="row">
        <div class="column">
            <div class="card-custom">
                <div class="card-body text-center">
                    <a href="{% url 'chemmaps:DrugMap' %}">
                        <h4 class="card-title">DrugMap</h4>
                    </a>
                    <p class="card-text"> Drugbank Version 5.1.10<br>(release 2023-01-04)<br></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card-custom">
                <div class="card-body text-center">
                    <a href="{% url 'chemmaps:DSSToxMap' %}">
                        <h4 class="card-title">DSSToxMap</h4>
                    </a>
                    <p class="card-text">DSSTox<br>(release 2022-02)</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card-custom">
                <div class="card-body text-center">
                    <a href="{% url 'chemmaps:Tox21Map' %}">
                        <h4 class="card-title">Tox21Map</h4>
                    </a>
                    <p class="card-text">Tox21 Screening Library chemicals as defined on the EPA dashboard<br>(release 2022-10-29)</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card-custom">
                <div class="card-body text-center">
                    <a href="{% url 'chemmaps:PFASMap' %}">
                        <h4 class="card-title">PFASMap</h4>
                    </a>
                    <p class="card-text">PFAS structures as defined on the EPA dashboard<br>(release 2022-10-29)</p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>


<div class="container-fluid bgindex text-center padding-left: 0px" style="padding-left:0px">
    <br><br><br><br>
    <br>
    <p style="text-align:  center; font-size: 30px">
        Please cite: <a href="https://doi.org/10.1093/bioinformatics/bty412" class="aurl">
            A. Borrel, N. C. Kleinstreuer, & D. Fourches. (2018) Exploring drug space with ChemMaps.com.
            Bioinformatics, (1), 1–3.</a>
        <br>
        <a href="https://doi.org/10.1093/nar/gkad380" class="aurl">
            A. Borrel, M. Conway, S. Z. Nolte, A. Unnikrishnan, C. P. Schmitt, N. C. Kleinstreuer. (2023) ChemMaps.com v2.0: exploring the environmental chemical universe.
            NAR, (51), W78–W82.</a><br></p><br><br><br>
        <br>
</div>

<div class="container text-center padding: 0px">
    <br>
    <h4>Contact us</h4>
    <p><a a class="aurl" style="color: #232b5f" href="mailto:alexandre.borrel@nih.gov"> alexandre.borrel[at]nih.gov</a><br>
    </p>
    <div style="text-align: left;"><i>Last update: 10/2023</i></div>
</div>

{% endblock content %}