{% extends "base.html" %}
{% load static %}
{% block extra-css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
    type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    type="text/css">
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css" rel="stylesheet" type="text/css" />
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css" rel="stylesheet" type="text/css" />
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css" rel="stylesheet" type="text/css" />

<link href="{% static 'chemmaps/css/theme.css' %}" rel="stylesheet">
{% endblock %}
{% block title %} Index chemmaps{% endblock %}
{% block content %}


<style>

    /* Float four columns side by side */
    .columnCard {
        float: center;
        width: 25%;
    }

    .column {
        float: center;
        padding: 0 10px;
        width: auto;
    }

    /* Remove extra left and right margins, due to padding */
    .row {
        margin: 0;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }


    .card-custom {
        max-width: 400px;
        min-width: 200px;
        margin: 0 auto;
    }
</style>

<div role="navigation"> {% include 'chemmaps/includes/navbar.html' %}</div> 

<div class="container-fluid bgindex text-center padding-left: 0px">
    <br>
    {% if DTXSID != "" %}
        <p class = "Errorform" style="margin-right: 0px"> {{DTXSID}} is not included in the DSSToxMap.</p>
    {% endif %}
    <br><br><br><br><br>
    <htitle>www.chemmaps.com</htitle><br><br>
    <p><i>"A way to navigate in the chemical space"</i></p>
    <p>Choose a map among the four maps available and navigate in the space</p>
    <br><br><br><br>
</div>

<div class="container padding: 0px">
    <br>
    <div class="row">
        <div class="column">
            <div class="card-custom">
                <div class="card-body text-center">
                    <a href="{% url 'chemmaps:DrugMap' %}">
                        <h4 class="card-title">DrugMap</h4>
                    </a>
                    <p class="card-text"> Drugbank Version 5.1.2, release 2018-12-20<br>
                        ~12,000 entries</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card-custom">
                <div class="card-body text-center">
                    <a href="{% url 'chemmaps:DSSToxMap' %}">
                        <h4 class="card-title">DSSToxMap</h4>
                    </a>
                    <p class="card-text">DSSTox Release 2019-3-09
                        > 800,000 entries</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card-custom">
                <div class="card-body text-center">
                    <a href="{% url 'chemmaps:Tox21Map' %}">
                        <h4 class="card-title">Tox21Map</h4>
                    </a>
                    <p class="card-text">Tox21 included in the DSSTox database
                        ~ 9,000 entries</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card-custom">
                <div class="card-body text-center">
                    <a href="{% url 'chemmaps:PFASMap' %}">
                        <h4 class="card-title">PFASMap</h4>
                    </a>
                    <p class="card-text">PFAS included in the DSSTox database
                        ~ 5,000 entries</p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>


<div class="container-fluid bgindex text-center padding-left: 0px" style="padding-left:0px">
    <br><br><br><br>
    <br>
    <p style="text-align:  center; font-size: 30px">
        Please cite: <a href="https://doi.org/10.1093/bioinformatics/bty412" class="aurl">
            A. Borrel, N. C. Kleinstreuer, & D. Fourches. (2018) Exploring drug space with ChemMaps.com.
            Bioinformatics, (1), 1–3.</a><br>
        <br><br>
</div>

<div class="container text-center padding: 0px">
    <br>
    <h4>Contact us</h4>
    <p><a a class="aurl" style="color: #232b5f" href="mailto:chemmaps@mail.nih.gov"> chemmaps@mail.nih.gov</a><br>
        <a a class="aurl" style="color: #232b5f" href="https://twitter.com/SpaceChemMaps">
            <i class="fa fa-twitter fa-fw"></i>
            <span class="network-name">@SpaceChemMaps</span>
        </a>
    </p>
    <div style="text-align: left;"><i>Last update: 20/05/2021</i></div>
</div>

{% endblock content %}