{% extends "base.html" %}
{% load static %}
{% block extra-css %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css" rel="stylesheet" type="text/css" />
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css" rel="stylesheet" type="text/css" />
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css" rel="stylesheet" type="text/css" />

<link href="{% static 'chemmaps/css/theme.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Launch {{map}}{% endblock %}
{% block content %}
<script src="{% static 'chemmaps/js/theme.js' %}" type="text/javascript"></script>
<div role="navigation"> {% include 'chemmaps/includes/navbar.html' %}</div> 

<div class="container-fluid bgindex padding-left: 0px">
    <h2><img src="{% static 'chemmaps/img/arrow.png' %}" style="width:30px" alt="Arrow used to extend the page"> Generate the {{map.capitalize}}Map</h2>
    <p>Select up to 5 features you would like put on the map:</p>

    {% if Error == "1" %}
    <p class = "Errorform" style="margin-right: 0px"> Please choose only 5 categories.</p>
    {% endif %}
    {% if map == "drugbank"  %}
    <form action='/chemmaps/DrugMap3D/' method='post' onsubmit="ShowLoading()">{% csrf_token %}
        <div class="row">
            <div class="column">
                {% for aa in form_info.desc %}
                {% if forloop.counter0|divisibleby:10 %}  </div><div class="column"> {% endif %}
                {% if forloop.counter == 1 %} <b>Chemical information</b>{% endif %}
                {% if forloop.counter == 7 %} <b>Chemical rules</b>{% endif %}
                {% if forloop.counter == 11 %} <b>Descriptors</b>{% endif %}
                <div class="checkbox" id = {{aa.label}} aria-label="DescChoice" aria-labelledby={{aa.label}}>{{ aa }}</div>
                {%endfor%}
                <br>
                <input type='submit' value='Generate DrugMap'>
            </div>
        </div>
    </form>
    {% endif %}
    {% if map == "tox21"%}
    <form action='/chemmaps/Tox21Map3D/' method='post' onsubmit="ShowLoading()">{% csrf_token %}
        <div class="row">
            <div class="column">
                {% for aa in form_info.desc %}
                {% if forloop.counter0|divisibleby:10 %}  </div><div class="column"> {% endif %}
                {% if forloop.counter == 1 %} <b>Chemical classification</b>{% endif %}
                {% if forloop.counter == 3 %} <b>Toxicology prediction</b>{% endif %}
                {% if forloop.counter == 13 %} <b>Physicochemical prediction</b>{% endif %}
                {% if forloop.counter == 31 %} <b>Descriptors</b>{% endif %}
                <div class="checkbox">{{ aa }}</div>
                {%endfor%}
                <br>
                <input type='submit' value='Generate Tox21Map'>
            </div>
        </div>
    </form>
    {% endif %}
    {% if map == "pfas"%}
    <form action='/chemmaps/PFASMap3D/' method='post' onsubmit="ShowLoading()">{% csrf_token %}
        <div class="row">
            <div class="column">
                {% for aa in form_info.desc %}
                {% if forloop.counter0|divisibleby:10 %}  </div><div class="column"> {% endif %}
                {% if forloop.counter == 1 %} <b>Chemical classification</b>{% endif %}
                {% if forloop.counter == 3 %} <b>Toxicology prediction</b>{% endif %}
                {% if forloop.counter == 13 %} <b>Physicochemical prediction</b>{% endif %}
                {% if forloop.counter == 31 %} <b>Descriptors</b>{% endif %}
                <div class="checkbox">{{ aa }}</div>
                {%endfor%}
                <br>
                <input type='submit' value='Generate PFASMap'>
            </div>
        </div>
    </form>
    {% endif %}
    {% if map == "dsstox"%}
    <form action='/chemmaps/DSSToxMap3D/' method='post' onsubmit="ShowLoading()">{% csrf_token %}
        <div class="row">
            <div class="column">
                {% for aa in form_info.desc %}
                {% if forloop.counter0|divisibleby:10 %}  </div><div class="column"> {% endif %}
                {% if forloop.counter == 1 %} <b>Chemical classification</b>{% endif %}
                {% if forloop.counter == 3 %} <b>Toxicology prediction</b>{% endif %}
                {% if forloop.counter == 13 %} <b>Physicochemical prediction</b>{% endif %}
                {% if forloop.counter == 31 %} <b>Descriptors</b>{% endif %}
                <div class="checkbox">{{ aa }}</div>
                {%endfor%}
                {% if ErrorDSSTox == "1" %}
                <p class = "Errorform" style="margin-right: 30px">Chemical not recognized</p>
                {% endif %}
                Chemical in the center of the map (DTXSID):
                <br>
                <div style="margin-right: 30px">{{form_info.chem}}</div>
                <br>
                <input type='submit' value='Generate DSSToxMap'>
            </div>
        </div>
    </form>
    {% endif %}  

    {% if map == "tox21"%}
        {% include 'chemmaps/_launch_tox21Assays.html' %}
    {% endif %}

    <br>
    <h2><img src="{% static 'chemmaps/img/arrow.png' %}" style="width:30px" alt="Arrow used to extend the page"> Upload your list of chemicals (< 100 chemicals)</h2>
    {% if ErrorLine == "1"  %}
        <p class = "Errorform">Please upload < 100 chemicals</p>
    {% endif %}
    <p>From a list including SMILES, DrugBankID, DTXSID or CAS (not recommended):</p>
    {% if map == "drugbank"  %}
        <form action='/chemmaps/DrugMapSmilesUploaded/' method='post' onsubmit="ShowLoading()">{% csrf_token %}
            <p>{{ form_smiles.content }}</p>
            <input type='submit' value='Submit chemicals'/>
        </form>
    {% endif %}
    {% if map == "dsstox"  %}
        <form action='/chemmaps/DSSToxMapSmilesUploaded/' method='post' onsubmit="ShowLoading()">{% csrf_token %}
            <p>{{ form_smiles.content }}</p>
            <input type='submit' value='Submit chemicals'/>
        </form>
    {% endif %}
    {% if map == "tox21"  %}
        <form action='/chemmaps/Tox21MapSmilesUploaded/' method='post' onsubmit="ShowLoading()">{% csrf_token %}
            <p>{{ form_smiles.content }}</p>
            <input type='submit' value='Submit chemicals'/>
        </form>
    {% endif %}
    {% if map == "pfas"  %}
        <form action='/chemmaps/PFASMapSmilesUploaded/' method='post' onsubmit="ShowLoading()">{% csrf_token %}
            <p>{{ form_smiles.content }}</p>
            <input type='submit' value='Submit chemicals'/>
        </form>
    {% endif %}

    <p>From a file:</p>
    {% if ErrorFile == "1"  %}
        <p class = "Errorform">Please upload a text file with one chemical by line (< 100 lines)</p>
    {% endif %}
    {% if map == "drugbank"  %}
        <form method="post" enctype="multipart/form-data" action='/chemmaps/DrugMapSmilesUploaded/' onsubmit="ShowLoading()">
            {% csrf_token %}
            {%for field in from_upload%}
                <div id="UploadBox">{{field}}</div>
            {% endfor %}
            <br>
            <button type="submit" class="upload_button">Upload list of chemicals</button>
        </form>
        <p>Example of input: <a class = "aurl" target="_blank" href="{% static 'chemmaps/test.txt' %}">Test input</a></p>
    {% endif %}
    {% if map == "dsstox"  %}
        <form method="post" enctype="multipart/form-data" action='/chemmaps/DSSToxMapSmilesUploaded/' onsubmit="ShowLoading()">
            {% csrf_token %}
            {%for field in from_upload%}
                <div id="UploadBox">{{field }}</div>
            {% endfor %}
            <br>
            <button type="submit" class="upload_button">Upload list of chemicals</button>
        </form>
        <p>Example of input: <a class = "aurl" target="_blank" href="{% static 'chemmaps/test.txt' %}">Test input</a></p>
    {% endif %}
    {% if map == "pfas"  %}
        <form method="post" enctype="multipart/form-data" action='/chemmaps/PFASMapSmilesUploaded/' onsubmit="ShowLoading()">
            {% csrf_token %}
            {%for field in from_upload%}
                <div id="UploadBox">{{field }}</div>
            {% endfor %}
            <br>
            <button type="submit" class="upload_button">Upload list of chemicals</button>
        </form>
        <p>Example of input: <a class = "aurl" target="_blank" href="{% static 'chemmaps/test.txt' %}">Test input</a></p>
    {% endif %}
    {% if map == "tox21"  %}
        <form method="post" enctype="multipart/form-data" action='/chemmaps/Tox21MapSmilesUploaded/' onsubmit="ShowLoading()">
            {% csrf_token %}
            {%for field in from_upload%}
                <div id="UploadBox">{{field }}</div>
            {% endfor %}
            <br>
            <button type="submit" class="upload_button">Upload list of chemicals</button>
        </form>
        <p>Example of input: <a class = "aurl" target="_blank" href="{% static 'chemmaps/test.txt' %}">Test input</a></p>
    {% endif %}
    <br>
    <br>
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>




{% endblock content %}
