<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{map}}-3D</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <meta http-equiv='X-UA-Compatible' content='IE=Edge'></meta>
        <meta charset='UTF-8'></meta>
        <meta name='robots' content='NONE,NOARCHIVE'></meta>
        <meta name='description' content='{% block meta-description %}{% endblock %}'>
        <meta name='author' content='{% block meta-author %}{% endblock %}'>
        <meta name='keywords' content='{% block meta-keywords %}{% endblock %}'>
    </head>

{% load static %}
{% block extra-css %}
<link href="{% static 'chemmaps/css/chemMap.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    {% if map == "pfas" %}
        <div id="backPFAS">
    {% elif map == "tox21" %}   
        <div id="backTox21">
    {% elif map == "drugbank" %}
        <div id="backDrugmap">
    {% elif map == "dsstox" %}
        <div id="backDSSTOX">
    {% else %}
        <div id="backTox21">
    {% endif %}


    <div id="container"></div>
    <div id="info">
        <div style="font-size: 1px;">'</div>
        <div id="pngcompound">
            <canvas id="Compoundpng2"></canvas>
        </div>
        <text id="nbchem"></text> chemicals
        <div id="infotext">
            Compound ID: <a id="CompoundID" target="_blank"></a><br>
            {% if map == "drugbank" %}
                Group: <text id="Group"></text><br>
            {% else %}
                GHS category: <text id="GHS"></text><br>
            {% endif %}
            {{ ldesc.0 }}: <text id="box1"></text><br>
            {{ ldesc.1 }}: <text id="box2"></text><br>
            {{ ldesc.2 }}: <text id="box3"></text><br>
            {{ ldesc.3 }}: <text id="box4"></text><br>
            {{ ldesc.4 }}: <text id="box5"></text><br>
        </div>

        <div id="commandExtract">

            <div class="control">
                Connect
                <select onclick="connectNeighbor(this)" name="ConnectChem">
                    <option value="1">1</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>


            <div class="control">
                <br>Extract <select onclick="extractNeighbor(this)">
                    <option value="1">1</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>


            <div class="control">
                <br><button id="drawme" onclick="drawChemical()">Draw chemical</button>
            </div>

            <div class="control">
                <br><button id="downloadlink" onclick="downloadNeighbor()">Download neighbors</button>
            </div>

            {% if map != "drugbank" %}
                <div class="control">
                    <br><a id="LinkDSSTOX" target="_blank">Link to DSSTOXMap</a>
                </div>
            {% endif %}

        </div>
    </div>


    <div id="searchbar">
        {% if map == "drugbank" %}
            <form onsubmit="return false">
                <input id ="search" type="text"  name="search" placeholder="Drugbank ID" onchange="searchID(value)">
            </form>
        {% else %}
            <form onsubmit="return false">
                <input id ="search" type="text"  name="search" placeholder="DTXSID" onchange="searchID(value)">
            </form>
        {% endif %}
    </div>


    <div id="iconhome">
        <a href="{% url 'chemmaps:home' %}"><img src="{% static 'chemmaps/img/icon_chemmaps_full_white.png' %}" height = "30px" alt="Home link"></a>
    </div>

    <div id="iconNTP">
            <a href="https://ntp.niehs.nih.gov"><img src="{% static 'chemmaps/img/icon_ntp_full_white.png' %}" height = "47px" alt="NTP link"></a>
        </div>

    <div id="blockassay">
        {% if assay != "" %}
            <a href="{% url 'chemmaps:Tox21Map' %}" style="color: white;">{{assay}} ({{nb_active}} active(s) / {{nb_tested}} conclusive(s))</a>
        {% else %}
            {% if map == "drugbank" %}
            <a href="{% url 'chemmaps:DrugMap' %}" style="color: white;">DrugMap</a>
            {% elif map == "dsstox" %}
                {% if center_map == None %}
                    <a href="{% url 'chemmaps:DSSToxMap' %}" style="color: white;">{{map.upper}}Map</a>
                {% else %}
                    <a href="{% url 'chemmaps:DSSToxMap' %}" style="color: white;">Center chemical: {{center_map}}</a>
                {% endif %}
            {% elif map == "Tox21Target" %}
                <a href="{% url 'chemmaps:Tox21Map' %}" style="color: white;">{{target}} ({{nb_assays}} assay(s))</a>
            {% elif map == "pfas" %}
                <a href="{% url 'chemmaps:PFASMap' %}" style="color: white;">{{map.upper}}Map</a>
            {% else %}
                <a href="{% url 'chemmaps:Tox21Map' %}" style="color: white;">{{map.upper}}Map</a>
            {% endif %}
        {% endif %}
    </div>

    <div id="blockdiv">
        <a id = "blockflag"></a>
    </div>


    <script src="{% static 'chemmaps/js/three.js/three.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'chemmaps/js/three.js/libs/TrackballControls.js' %}" type="text/javascript"></script>
    <script src="{% static 'chemmaps/js/three.js/libs/GeometryUtils.js' %}" type="text/javascript"></script>
    <script src="{% static 'chemmaps/js/three.js/libs/Detector.js' %}" type="text/javascript"></script>
    <script src="{% static 'chemmaps/js/three.js/libs/stats.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'chemmaps/js/three.js/libs/tween.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'chemmaps/js/three.js/libs/dat.gui.min.js' %}" type="text/javascript"></script>
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/smiles-drawer@1.0.10/dist/smiles-drawer.min.js"></script>

    <script src="{% static 'chemmaps/js/panelfunctions.js' %}" type="text/javascript"></script>
    <script src="{% static 'chemmaps/js/infoboxfunctions.js' %}" type="text/javascript"></script>
    <script src="{% static 'chemmaps/js/mapfunctions.js' %}" type="text/javascript"></script>
    <script src="{% static 'chemmaps/js/toolbox.js' %}" type="text/javascript"></script>

    <script>


                //for the function generalisation
                var map = {{mapJS | safe}};
                var prSession = {{prSessionJS | safe}};
                
                // format properly descriptors
                if (map == "drugbank"){
                    var desctype = {"Rotable bond": "range", "Polar surface": "range",
                            "Molecular weight": "range", "Physio charge":"range",
                            "Rule of five": "class", "Veber rule": "class", "Formula":"str",
                            "Ghose filter": "class", "Generic name":"str", "IUPAC":"str",
                            "ALOG solubility":"range", "MDDR rule":"class",
                            "Drug group":"class", "Product":"str", "ALogP": "range",
                            "Pka Basic": "range", "Number of rings":"range", "PKA":"range",
                            "Acceptor count": "range", "Pka acidic": "range",
                            "Exact mass":"range", "Donor count":"range",
                            "Brands":"str", "Polarizability":"range",
                            "Bioavailability":"class", "Database":"str",
                            "Refractivity":"range", "LogP":"range",
                            "Formal charge":"range", "Salt":"str", "Atom count":"range"};
                } else{
                    var desctype = {"GHS category": "class", "EPA category": "class", "LD50 (mg/kg)":"range",
                            "Acute Tox (very toxic)": "class", "Acute Tox (no toxic)":"class",
                            "Acute Tox (EPA)": "class", "Acute Tox (GHS)": "class", "Acute Tox (LD50)": "range",
                            "Estrogen Receptor activity (Agonist)": "class", "Estrogen Receptor activity (binding)": "class",
                            "Hepatic clearance": "range", "Androgen Receptor Activity (Antogonist)":"class",
                            "Androgen Receptor Activity (binding)": "class", "Plasma fraction unbound" :"range",
                            "Henry’s Law constant (atm-mol3/mole)": "range", "KM (biotransformation rate)": "range",
                            "Log Octanol/air partition coefficient": "range", "Log Soil adsorption coefficient (L/Kg)":"range",
                            "Log Fish bioconcentration factor":"range", "LogD":"range", "LogP":"range", "Melting Point (C)":"range",
                            "Pka acid":"range", "Pka basic":"range", "Biodegradability":"class", "HPLC retention time": "range",
                            "Log vapor pressure (mmHg)":"range", "Log Water solubility":"range", "MW":"range",
                            "Log Atmospheric constant (cm3/molsec)": "range", "Biodegradation half-life": "range",
                            "Boiling Point":"range", "Lipinski Failures": "class", "AC50 (µM)":"str", "Assay Outcome":"str",
                            "QC":"str", "Most active assay": "str","Lowest AC50 (µM)":"str"};
                }
                ;

                //Coordinates
                var dcoords = {{dcoord | safe}};
                //console.log(Object.keys(dcoords).length)
                
                // info for compound bar
                var dinfo = {{dinfo | safe}};
                //console.log(dinfo);

                // neighbors
                var dneighbors = {{dneighbor | safe}};
                
                //load SMILES and class
                var dSMILESClass = {{dSMILESClass | safe}};

                //nb chemical
                nbchem.innerHTML = Object.keys(dinfo).length;

                // color for the map
                if (map == "drugbank"){
                    var dcol = {"approved": 0x00ff00, "indev": 0xffffff, "withdraw": 0xd819d2, "add":0Xffffff};
                    var dsize = {"approved": 20, "indev": 2.5, "withdraw": 15, "add": 15};
                    var nbcol = 20;
                    var fact = 22;
                
                    // textures and material
                    var textureLoader = new THREE.TextureLoader();
                    var spriteApp = textureLoader.load("{% static 'chemmaps/img/star.png' %}");
                    var spriteWithdraw = textureLoader.load("{% static 'chemmaps/img/star.png' %}");
                    var spriteDev = textureLoader.load("{% static 'chemmaps/img/planet2.png' %}");
                    var spriteAdd = textureLoader.load("{% static 'chemmaps/img/rocket.png' %}");
                    var dsprite = {"approved":spriteApp, "withdraw":spriteWithdraw, "indev":spriteDev, "add":spriteAdd}
                    
                }else{
                    var dcolGHS = {"5": 0x6e0000, "4": 0x8ab700, "3": 0xc09400, "2": 0xe76400, "1": 0xfb002c, "NA": 0xffffff}; // duplicate with dcol in original map 
                    var nbcol = 50;
                    if(map ==  "Tox21Assay" || map == "Tox21Target" || map == "Tox21MostActive"){
                        var fact = 30;
                        var dcolGHS = {"5": 0x6e0000, "4": 0x8ab700, "3": 0xc09400, "2": 0xe76400, "1": 0xfb002c, "NA": 0xffffff};
                        var dsize = {"classified": 20, "noclassified": 6, "add": 7};
                        var dcol = {"active":0xffc20a, "inactive": 0x006cd1, "inconclusive": 0xffffff};
                    } else if(map == "pfas"){
                        var fact = 25;
                        var dcol = {"5": 0x6e0000, "4": 0x8ab700, "3": 0xc09400, "2": 0xe76400, "1": 0xfb002c, "NA": 0xffffff};
                        var dsize = {"classified": 20, "noclassified": 5, "add": 7};
                    } else if(map == "tox21"){
                        var fact = 25;
                        var dcol = {"5": 0x6e0000, "4": 0x8ab700, "3": 0xc09400, "2": 0xe76400, "1": 0xfb002c, "NA": 0xffffff};
                        var dsize = {"classified": 20, "noclassified": 2.5, "add": 7};
                    }else{
                        var dcol = {"5": 0x6e0000, "4": 0x8ab700, "3": 0xc09400, "2": 0xe76400, "1": 0xfb002c, "NA": 0xffffff};
                        var dsize = {"classified": 20, "noclassified": 2.5, "add": 7};
                        var fact = 70;
                    }
                    ;
                    
                    // textures and material
                    var textureLoader = new THREE.TextureLoader();
                    var spriteClassified = textureLoader.load("{% static 'chemmaps/img/star.png' %}");
                    var spriteNoClassified = textureLoader.load("{% static 'chemmaps/img/planet2.png' %}");
                    var spriteAdd = textureLoader.load("{% static 'chemmaps/img/rocket.png' %}");
                    var dsprite = {"classified":spriteClassified, "noclassified":spriteNoClassified, "add":spriteAdd};

                }
                ;
                
                // flags
                var block = 0;
                var ID;
                var coorblock = {"x": 0.0, "y": 0.0, "z": 0.0};
                var dlines = {}; // control line drawn

                // define the container
                var container = document.getElementById("container");
                // scene
                var scene = new THREE.Scene();
                //scene.background = new THREE.Color(0x000000);

                // ==== GUI ==
                createpanel();

                // camera
                //var poscenter = centroid(dcoords);
                //console.log(poscenter);
                var camera = new THREE.PerspectiveCamera(300, window.innerWidth / window.innerHeight, 0.1, 1000);
                camera.position.z = 300;
                camera.position.y = -200;
                camera.position.x = 100;
                var ncameraStep = 20;
                var istepcamera = 0;
                var decart = {"x": 0, "y": 0, "z": 0};
                
                // raycaster for move position
                var mouse = THREE.Vector2;
                var raycaster = new THREE.Raycaster();
                
                // === Initial positionning
                if (map == "drugbank"){
                    var dpoints = { approved: [], withdraw: [], indev: [], add: [] };
                    posPointIndividuallyDrugMap("all");
                }else{
                    var dpoints = { classified: [], noclassified: [], add: [] };
                    posPointIndividuallyDSSTox("all");
                }
                

                // ==== renderer initialization  ====
                var renderer = new THREE.WebGLRenderer({antialias: true, alpha: true});
                renderer.setPixelRatio(window.devicePixelRatio);
                renderer.setSize(window.innerWidth, window.innerHeight);
                container.appendChild(renderer.domElement);
                axes = buildAxes(150, 0, 0, 0);
                

                // ===controls view ====
                var controls = new THREE.TrackballControls(camera, renderer.domElement); // control just for renderer
                controls.autoRotate = true;
                controls.rotateSpeed = 1.0;
                controls.zoomSpeed = 4;
                controls.panSpeed = 3;
                controls.noZoom = false;
                controls.noPan = false; // to fix pivos point
                controls.staticMoving = false;
                controls.dynamicDampingFactor = 0.3;
                controls.enabled = true;
                
                // event on the window
                var lpointload = [];
                window.addEventListener('mousemove', onMouseMove, true);
                window.addEventListener('resize', onWindowResize, false);
                window.addEventListener('dblclick', blockview, false);
                // === recurcive animation
                animate(); // recurcive animation


    </script>
    </div>
{% endblock content %}
</html>
