<ul class="nav nav-tabs" style="padding: 0.5em 0.5em; font-size: 1.5em; ">
    {% url 'interferences:home' as url %}
    <li {% if request.path == url %} class="active"{% endif %}><a href="{{ url }}" style="color: #04600b"><i class="fa fa-home fa-lg"></i>&nbsp;InterPred</a></li>
    {% url 'interferences:uploadSMILES' as url %}
    <li {% if request.path == url or  request.path == "/interferences/results/" or request.path == "/interferences/cleanSMILES/" or request.path == "/interferences/computeDESC/"%} class="active"{% endif %}><a href="{{ url }}" style="color: #04600b">Compute interferences</a></li>
    {% url 'interferences:help' as url %}
    <li {% if request.path == url %} class="active"{% endif %}><a href="{{ url }}" style="color: #04600b">Help</a></li>
</ul>
<br>