<style>
active{
    background-color: rgba(233, 0, 0, 0.2);
    color: white;
}

</style>

<ul class="nav nav-tabs" style="padding: 0.5em 0.5em; font-size: 1.5em">

    {% url 'interferences:home' as url %}
    <li {% if request.path == url %} class="active"{% endif %}><a href="{{ url }}" style="color: #3ebd40"><i class="fa fa-home fa-lg"></i>&nbsp;Home</a></li>

    {% url 'interferences:uploadSMILES' as url1 %}
    {% url 'interferences:computeDESC' as url2 %}
    {% url 'interferences:cleanSMILES' as url3 %}
    {% url 'interferences:results' as url4 %}
    <li {% if request.path == url1 or request.path == url2 or request.path == url3 or request.path == url4 %} class="active"{% endif %}><a href="{{ url1 }}" style="color: #3ebd40">Compute interferences</a></li>


    {% url 'interferences:resources' as url %}
    <li {% if request.path == url %}  class="active"{% endif %}><a href="{{ url }}" style="color: #3ebd40">Help</a></li>

</ul>

