.div-table {
    display: block;
    width: 80%;
    margin: 20px;
}

.div-table-body,
.div-table-foot,
.div-table-row {
    clear: both;
}

.div-table-head,
.div-table-foot {
    background-color: #ddd;
    font-weight: bold;
}

.div-table-col,
.div-table-head {
    border: 1px solid #999999;
    float: left;
    height: 80px;
    overflow: hidden;
    padding: 3px 1.8%;
    width: 20%;
    font-size: 12px;
}

.div-table-head {
    font-size: 15px;
}

.div-table:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
}


input[type='submit'] {
    /*font-size: 22px;*/
    /*font-size: 2.5vmin;*/
    margin-top: 1px;
    margin-bottom: 2px;
    border: 1px solid #000000;
    color: #333333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type='submit']:hover {
    background-color: #C3C3C3;
    color: #000000;
}

.format_example{
    font: 10px;
    background-color: lightgray;
    font-style: italic;
}

p.errorform {
    border-style: solid;
    border-color: transparent;
    background-color: #FDE8E8;
    font-size: 15px;
}

p.noticeform {
    border-style: solid;
    border-color: transparent;
    background-color: #E2FDE7;
    font-size: 15px;
}