/* NTP style overrides
======================
*/
html,
body {

    -webkit-font-smoothing: subpixel-antialiased;
}

.breadcrumb {
    margin-top: 0.5em;
}

header#top {
    z-index: 900;
}

.ReactModal__Overlay {
    z-index: 999;
}

/*
HTTP page error styling
=======================
*/
.error {
    background-color: #ece3e3;
    border: 2px solid rgb(153, 114, 114);
    border-radius: 5px;
    height: 100%;
    padding: 30px;
    text-align: center;
}
.errorHeader {
    color: rgb(155, 126, 49);
    font-size: 48px;
    text-align: center;
}
.error p {
    font-family: monospace;
    font-size: 1.3em;
    font-weight: bold;
}

/*
iframes
=======
*/
iframe {
    min-height: 120vh;
    width: 100%;
}

/*
django forms
============
*/
.no-list-style {
    list-style: none;
}

/*
username icon
=============
*/
.username-label {
    margin: 1em 1em;
}

/*
Big bootstrap modals
====================
*/
.modal-dialog {
    height: 95%;
    padding: 0;
    width: 95%;
}
.modal-content {
    height: 100%;
    width: 100%;
}
.modal-header {
    height: 50px;
    width: 100%;
}
.modal-body {
    height: calc(100% - 50px);
    overflow-y: auto;
    width: 100%;
}

/*
Flex containers
===============
*/
.flex-row-container {
    display: flex;
    flex-flow: row;
}

.flex-column-container {
    display: flex;
    flex-flow: column;
}

.flex-1 {
    flex: 1;
    margin: 5px;
}

.flex-2 {
    flex: 2;
    margin: 5px;
}

.flex-3 {
    flex: 3;
    margin: 5px;
}

.flex-4 {
    flex: 4;
    margin: 5px;
}

.flex-5 {
    flex: 5;
    margin: 5px;
}

.flex-6 {
    flex: 6;
    margin: 5px;
}

/*
D3 tooltips
*/
.d3-tip {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    pointer-events: none;
    padding: 6px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);
    content: '\25BC';
    display: inline;
    font-size: 10px;
    line-height: 1;
    pointer-events: none;
    position: absolute;
    text-align: center;
    width: 100%;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
    pointer-events: none;
}

/* Letters that create an acronym */
.acronym-letter {
    font-weight: bold;
    color: #232b5f;
}

