{% extends "base.html" %}
{% load static %}
{% block extra-css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css"
          rel="stylesheet" type="text/css"/> 
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css"
          rel="stylesheet" type="text/css"/>
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css"
          rel="stylesheet" type="text/css"/> 

<link href="https://sandbox.ntp.niehs.nih.gov/bodymap/static/css/theme.css" rel="stylesheet">
{% endblock %}
{% block title %}Chemical mapping{% endblock %}
{% block content %}

<div role="navigation"> {% include 'bodymap/includes/navbar.html' %}</div> 

<h1>Map a chemical activities on body</h1>
<br>

{% if Error == "1" %}
<p class = "Errorform"> Please choose a valid CAS</p>
{% endif %}


<p>Chemical (CAS):</p>
<form autocomplete="off" action='/bodymap/chemMappingTable/' method='post' onsubmit="ShowLoading()">{% csrf_token %}
    <div class="autocomplete" style="width:300px;">
            <input id="myInput" type="text" name="mychem" placeholder="CASN">
        <!--<div style="margin-right: 80%; margin-left: 30px">{{formCAS.chem}}</div>-->
    </div>
    <br>
    <input style="margin-left: 20px" type='submit' value='Uplad Chemical'>
</form>



<script>
// load mapping
var lchem = {{ lchemJS | safe }};

  
/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("myInput"), lchem);

</script>

{% endblock content %}
