{% extends "base.html" %}
{% load static %}
{% block extra-css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css"
          rel="stylesheet" type="text/css"/> 
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css"
          rel="stylesheet" type="text/css"/>
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css"
          rel="stylesheet" type="text/css"/> 

<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
          
<link href="{% static 'bodymap/css/table.css' %}" rel="stylesheet">
<link href="{% static 'bodymap/css/theme.css' %}" rel="stylesheet">
<link href="{% static 'bodymap/css/chemical.css'%}" rel="stylesheet">
<link href="{% static 'bodymap/css/network.css' %}" rel="stylesheet">



{% endblock %}
{% block title %}Chemical mapping{% endblock %}
{% block content %}
<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>

<script src="{% static 'bodymap/js/table.js' %}"></script>
<script src="{% static 'bodymap/js/theme.js' %}"></script>
<script src="{% static 'bodymap/js/chemical.js' %}"></script>
<script src="{% static 'bodymap/js/mappingCanvas.js' %}"></script>
<script src="{% static 'bodymap/js/network.js' %}"></script>
<script src="{% static 'bodymap/js/plotFunctions.js' %}"></script> 


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://unpkg.com/smiles-drawer@1.0.10/dist/smiles-drawer.min.js"></script>

<div role="navigation"> {% include 'bodymap/includes/navbar.html' %}</div> 


<h1><text id="ChemicalNametop"></text> | <a class = "aurl" id="CASIDtop"></a></h1>
<br>
<div class="rowChem">
    <div class="columnChem">
        <div id="pngcompound">
            <canvas id="Compoundpng2" style="position: relative"></canvas>
        </div>
    </div>
    <div class="columnChem">
        <br>
        <h3>Chemical information</h3>
        <b>Chemical name: </b><text id="ChemicalName"></text><br>
        <b>DSSTOX ID: </b><div class="tooltipBM"><a class = "aurl" id="DSSTOX"></a><span class="tooltipBMtext">Detailed chemical information available via EPA Chemistry Dashboard</span></div><br>
        <b>CASRN: </b><div class="tooltipBM"><a class = "aurl" id="CASID"></a><span class="tooltipBMtext">Detailed chemical information available via EPA Chemistry Dashboard</span></div><br>
        <b>SMILES: </b><text id="SMILES"></text><br>
        <b>Chemical space: </b>Explore on <a class = "aurl" href="https://sandbox.ntp.niehs.nih.gov/chemmaps/">chemmaps.com</a><br>
        <b>Chemical annotation: </b>Explore on <a class = "aurl" href="http://134.129.166.26:8080/tox21enricher/">Tox21 Enricher</a><br>
        <b>Chemical Quality Control (QC) status: </b><div class="tooltipBM"><a class = "aurl" id="QC"></a><span class="tooltipBMtext">Detailed QC information available on the ICE server</span></div><br>
        <b>Number of assays tested: </b>{{Nassay}}/971
    </div>
</div>
<br>

{% if Error == "2" %}
<p class = "Errorform"> <img src="{% static 'bodymap/img/warning.png' %}" style="width:30px" alt="Warning icon for QC fail"> <b><text id="CASIDError"></text></b> did not pass the quality check requirement for at least one assay.</p><br>
{% else %}
<span style="font-size:0px" id="CASIDError"></span>
{% endif %}



<h2><img src="{% static 'bodymap/img/arrow.png' %}" style="width:30px" alt="Arrow used to extend the page"> Body mapping</h2></button>
<br>
<p>Target tissues mapping where the chemical is more likely to produce effects in the human body. User can adjust gene expression and activity concentration cutoffs.</p>
<br>    
<div class="rowChem">
    <div class="columnChem">
        <canvas id="bodymap">
            Your browser does not support the canvas element.
        </canvas>
    </div>
    <div class="columnChem" style="margin-left: 20px">
        <br>
        Chemical concentration and gene expression:        
        <br>
        <br>

        log10(AC50) cutoff: <span id="logAC50_val"></span> <br>(AC50 cutoff: <span id="AC50_val"></span> nM)
        <input type="range" min=-40 max=20 steps=1 value=0 id="cutlogAC50"/>
        <br>
        {% if exp_type == "\"gene\""%}
        <div class="tooltipBM">Organ expression threshold <eM><sup >?</sup></eM>:&nbsp;<span class="tooltipBMtext">Ratio of specific organ expression to all organ for assay gene target. Higher cutoff = greater specificity</span> </div><span id="exp_val"></span> *folds control
        {% endif %}
        {% if exp_type == "\"organ\""%}
        <div class="tooltipBM">Organ expression threshold <eM><sup >?</sup></eM>:&nbsp;<span class="tooltipBMtext">Ratio of specific organ expression to all genes for organ target. Higher cutoff = greater specificity</span> </div><span id="exp_val"></span> *folds control
        {% endif %}
        <br>
        <input type="range" min=2 max=50 steps=1 value=1 id="cutExp"/>
        <br>
        <div id="circle" style="background: #1ee844"></div>&nbsp;&nbsp;mapped using assay gene target
        <br>
        <div id="circle" style="background: #282ab5"></div>&nbsp;&nbsp;mapped using assay organ target
        <br>
        <div id="circle" style="background: #2bfafa"></div>&nbsp;&nbsp;mapped using both assay organ and gene target
        <br>
        <br>
        <font size="3">List of organ(s): <span id="organ_active"></span></font>
        <br>
        <br>
        
    </div>
</div>
<br>
<br>

<h2><img src="{% static 'bodymap/img/arrow.png' %}" style="width:30px" alt="Arrow used to extend the page"> Assays mapping</h2></button>
<br>
<div class="rowChem">
    <div class="columnChem" style="margin-left: 25px">
        <div id="dotplot" style="margin-bottom: 10px;"></div>
        Assays mapping on organ system in function of the log10(AC50).<br>
        Assay Annotations: <a class = "aurl" href="https://comptox.epa.gov/dashboard/assay_endpoints/">EPA Chemistry Dashboard</a><br>
        Number of assays tested: {{Nassay}}/971<br>
    </div>
    <div class="columnChem" style="margin-left: 10px">
        <br>
        Assays mapping on gene and body part 
        <br>
        <br>
        <div id="myGrid" style="height: 500px; width: 90%" class="ag-theme-balham"></div>
        <br>
        <button id="downloadlink" onclick="downloadTable()" class="btn"><i class="fa fa-download"></i> Download assays mapping on body part</button>
    </div>
</div>
<br>
<br>
<h2><img src="{% static 'bodymap/img/arrow.png' %}" style="width:30px" alt="Arrow used to extend the page"> Network representation</h2>
<br>
<p>Network where chemical-assay activity, target gene expression, and body mapping are connected in a data-driven representation.</p>
<br>
<div class="rowChem">
    <div class="columnChem">
        log10(AC50) cutoff: <span id="logAC50_val_network"></span> <br>(AC50 cutoff: <span id="AC50_val_network"></span> nM)
        <input type="range" min=-40 max=20 steps=1 value=0 id="cutlogAC50_network"/>
    </div>
    <div class="columnChem">
        {% if exp_type == "\"gene\""%}
        <div class="tooltipBM">Organ expression threshold <eM><sup >?</sup></eM>:&nbsp;<span class="tooltipBMtext">Ratio of specific organ expression to all organ for assay gene target. Higher cutoff = greater specificity</span> </div><span id="exp_val_network"></span> *folds control
        {% endif %}
        {% if exp_type == "\"organ\""%}
        <div class="tooltipBM">Organ expression threshold <eM><sup >?</sup></eM>:&nbsp;<span class="tooltipBMtext">Ratio of specific organ expression to all genes for organ target. Higher cutoff = greater specificity</span> </div><span id="exp_val_network"></span> *folds control
        {% endif %}
        <br>
        <input type="range" min=2 max=50 steps=1 value=1 id="cutExp_network"/>
    </div>
</div>
<br>

<div id="mapnetwork"></div>
<br>
<div id="circle" style="background: red"></div>&nbsp;&nbsp;chemical (CASN);&nbsp; 
<div id="circle" style="background: pink"></div>&nbsp;&nbsp;assay;&nbsp;
<div id="circle" style="background: green"></div>&nbsp;&nbsp;gene;&nbsp;
<div id="circle" style="background: blue"></div>&nbsp;&nbsp;organ;&nbsp;
<div id="circle" style="background: orange"></div>&nbsp;&nbsp;system;&nbsp;
<br>


<script>
// load mapping
var typeTable = {{ TypeJS | safe }};
var dmap = {{ dmap | safe }};
var dchem = {{dchem | safe }}

// define default values for mapping
var cutAC50 = 0;
var cutExp = 2;

var cutAC50_network = 10;
var cutExp_network = 2;

////////////////////////////
// Develop the network
////////////////////////////
// network built
var containerNetwork = document.getElementById("mapnetwork");
builtNetwork(containerNetwork, dmap, dchem, cutAC50_network, cutExp_network);

// slider for AC50 and expression
var sliderAC50_network = document.getElementById("cutlogAC50_network");
var outputlogAC50_Network = document.getElementById("logAC50_val_network");
var outputAC50_Network = document.getElementById("AC50_val_network");


outputlogAC50_Network.innerHTML = sliderAC50_network.value;
sliderAC50_network.oninput = function() {
    outputlogAC50_Network.innerHTML = this.value/10;
    cutlogAC50_network = this.value;
    var AC50_network = Math.pow(10, this.value/10)*1000; // transform in nM
    var rAC50_network = AC50_network.toFixed(3);
    outputAC50_Network.innerHTML = rAC50_network;
    cutAC50_network = Math.pow(10, this.value/10);   
    builtNetwork(containerNetwork, dmap, dchem, cutAC50_network, cutExp_network);
}

// slider for expression
var sliderExp_network = document.getElementById("cutExp_network");
var outputExp_network = document.getElementById("exp_val_network");

outputExp_network.innerHTML = sliderExp_network.value;
sliderExp_network.oninput = function() {
    outputExp_network.innerHTML = this.value;
    cutExp_network = this.value;
    builtNetwork(containerNetwork, dmap, dchem, cutAC50_network, cutExp_network);
}

//outputExp_network.innerHTML = sliderExp_network.value;





//////////////////////
// body mapping
//////////////////////

// load chemical panel
var canvas = document.getElementById("bodymap");
var ctx = canvas.getContext("2d");
var dpos = definePosDict();

canvas.width=825;
canvas.height=720;
var background = new Image();
background.src = "{% static 'bodymap/img/Human_Body_V23.png' %}";

background.onload = function(){
    ctx.drawImage(background,0,0);   
}

chemPanel(dchem);
//calibratePosition();
//labelOrgan();

// slider for AC50
var sliderAC50 = document.getElementById("cutlogAC50");
var outputlogAC50 = document.getElementById("logAC50_val");
var outputAC50 = document.getElementById("AC50_val");


//calibratePosition();

outputlogAC50.innerHTML = sliderAC50.value;
sliderAC50.oninput = function() {
    outputlogAC50.innerHTML = this.value/10;
    cutlogAC50 = this.value;
    var AC50 = Math.pow(10, this.value/10)*1000; // transform in nM
    var rAC50 = AC50.toFixed(3);
    outputAC50.innerHTML = rAC50;
    cutAC50 = Math.pow(10, this.value/10);
    mapOnBody(dmap, Math.pow(10, this.value/10), cutExp);
    
}

// Slider for expression
var sliderExp = document.getElementById("cutExp");
var outputExp = document.getElementById("exp_val");

outputExp.innerHTML = sliderExp.value;
sliderExp.oninput = function() {
    outputExp.innerHTML = this.value;
    cutExp = this.value;
    mapOnBody(dmap, cutAC50, cutExp);
    
}



if (typeTable == "assays"){
    var nameGrid = '#myGrid'
    var eGridDiv = document.querySelector(nameGrid);
    gridOptions = defineGridAssays(dmap);
    new agGrid.Grid(eGridDiv, gridOptions);
}else{
    var nameGrid = '#myGrid'
    var eGridDiv = document.querySelector(nameGrid);
    gridOptions = defineGridChem(dmap);
    new agGrid.Grid(eGridDiv, gridOptions);
}
;

//var lorg = mapOnBody(dmap, cutAC50, cutExp);

dotPlot(dmap);

// to download table
function downloadTable(){
    var element = document.createElement('a');
    var filname = dchem.CAS + '.csv';
    var textin = 'assay_name\tSytem\tOrgan\tGene\ttissue_expression\tAC50\n';

    for (var assay in dmap) {
        for (var organ in dmap[assay]) {
            for (var suborgan in dmap[assay][organ]) {
                if(dmap[assay][organ][suborgan]["gene"][0] != "NA"){
                    if(dmap[assay][organ][suborgan]["exp"][0] < 2.0){
                        continue;
                    }
                    ;
                    textin = textin + assay + "\t" + organ + "\t" + suborgan + "\t" + dmap[assay][organ][suborgan]["gene"][0] + "\t" + dmap[assay][organ][suborgan]["exp"][0] + "\t" + dmap[assay][organ][suborgan]["AC50"] + "\n"
                }else{
                    textin = textin + assay + "\t" + organ + "\t" + suborgan + "\tNA\tNA\t" + dmap[assay][organ][suborgan]["AC50"] + "\n"
                }
                ;
            }
            ;
        }
        ;
    }
    ;
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(textin));
    element.setAttribute('download', filname);

    element.style.display = 'none';
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);

}



</script>



{% endblock content %}
