{% extends "base.html" %}
{% load static %}
{% block extra-css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css"
          rel="stylesheet" type="text/css"/> 
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css"
          rel="stylesheet" type="text/css"/>
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css"
          rel="stylesheet" type="text/css"/> 

<link href="/static/bodymap/css/table.css" rel="stylesheet">
<link href="/static/bodymap/css/theme.css" rel="stylesheet">
<link href="/static/bodymap/css/chemical.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">

{% endblock %}
{% block title %}Chemical mapping{% endblock %}
{% block content %}
<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
<script src="/static/bodymap/js/table.js"></script>
<script src="/static/bodymap/js/theme.js"></script>
<script src="/static/bodymap/js/chemical.js"></script>
<script src="/static/bodymap/js/plotFunctions.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://unpkg.com/smiles-drawer@1.0.10/dist/smiles-drawer.min.js"></script>

<div role="navigation"> {% include 'bodymap/includes/navbar.html' %}</div> 


<h1>CAS-RN: <a id="CASID" target="_blank"></a></h1>
<br>
<div class="rowChem">
  <div class="columnChem">
    <br>
    <b>DSSTOX ID: </b><a id="DSSTOX"></a><br>
    <b>Chemical name: </b><text id="ChemicalName"></text><br>
    <b>SMILES: </b><text id="SMILES"></text><br>
  </div>
  <div class="columnChem">
      <div id="pngcompound">
        <canvas id="Compoundpng2"></canvas>
      </div>
  </div>
</div>
<br>



<button class="collapsible"><h2><img src="/static/bodymap/img/arrow.png" style="width:30px" alt="Arrow used to extend the page"> 
    Body mapping</h2></button>

    <div class="content" style="display: true">
   
        <div class="rowChem">
            <div class="columnChem">
                <img src="/static/bodymap/img/body.png" alt="Body outline">
                <canvas id="canvas" width="200" height="150"></canvas>
                <span>
                change the total area size
                <input type="range" min="250" max="5000000" steps="250" value="5000" id="range" />
                </span>
            </div>
            <div class="columnChem">
                <div id="dotplot"></div>
            </div>
        </div>
        <div class="rowChem">
            <div class="columnChem">
              <div id="myGrid" style="height: 500px; width: 400px" class="ag-theme-balham"></div>
            </div>
        </div>



    </div>
<br>
<br>
<button class="collapsible"><h2><img src="/static/bodymap/img/arrow.png" style="width:30px" alt="Arrow used to extend the page"> 
    Gene Mapping</h2></button>
<div class="content" style="display: none">
    Error: {{ Error }}
    {% if Type == "chem" %}
    <p>Chemical (CAS): {{CAS}}</p>
    {% endif %}
</div>


<p>
    End Page
</p>




<script>
// create the grid passing in the div to use together with the columns & data we want to use

var typeTable = {{ TypeJS | safe }};
var dmap = {{ dmap | safe }};
var dchem = {{dchem | safe }}

console.log(dchem);

chemPanel(dchem);


if (typeTable == "assays"){
    var nameGrid = '#myGrid'
    var eGridDiv = document.querySelector(nameGrid);
    gridOptions = defineGridAssays(dmap);
    new agGrid.Grid(eGridDiv, gridOptions);
}else{
    var nameGrid = '#myGrid'
    var eGridDiv = document.querySelector(nameGrid);
    gridOptions = defineGridChem(dmap);
    new agGrid.Grid(eGridDiv, gridOptions);
}
;




var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    });
}







dotPlot(dmap);


</script>



{% endblock content %}