{% extends "base.html" %}
{% load static %}
{% block extra-css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css"
          rel="stylesheet" type="text/css"/> 
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css"
          rel="stylesheet" type="text/css"/>
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css"
          rel="stylesheet" type="text/css"/> 

<link href="/static/bodymap/css/table.css" rel="stylesheet">
<link href="/static/bodymap/css/theme.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">

{% endblock %}
{% block title %}Chemical mapping{% endblock %}
{% block content %}
<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
<script src="/static/bodymap/js/table.js"></script>
<script src="/static/bodymap/js/theme.js"></script>
<script src="/static/bodymap/js/plotFunctions.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div role="navigation"> {% include 'bodymap/includes/navbar.html' %}</div> 


<h1>Results</h1>


<!--<button class="collapsible"><h2><img src="/static/bodymap/img/arrow.png" style="width:30px" alt="Arrow used to extend the page"> 
    Chemical information</h2></button>
<div class="content" style="display: none">
    <div id="info">
        <div style="font-size: 1px;">'</div>
        <div id="pngcompound">
            <canvas id="Compoundpng2"></canvas>
        </div>

        <div id="infotext">
            Compound ID: <a id="CompoundID" target="_blank"></a><br>
            {% if map == "DrugMap" %}
            Group: <text id="Group"></text><br>
            {% else %}
            GHS category: <text id="GHS"></text><br>
            {% endif %}
            {{ ldesc.0 }}: <text id="box1"></text><br>
            {{ ldesc.1 }}: <text id="box2"></text><br>
            {{ ldesc.2 }}: <text id="box3"></text><br>
            {{ ldesc.3 }}: <text id="box4"></text><br>
            {{ ldesc.4 }}: <text id="box5"></text><br>
        </div>
    </div>




    Error: {{ Error }}
    {% if Type == "chem" %}
    <p>Chemical (CAS): {{CAS}}</p>
    {% endif %}
</div>
<br>

<button class="collapsible"><h2><img src="/static/bodymap/img/arrow.png" style="width:30px" alt="Arrow used to extend the page"> 
    Body mapping</h2></button> -->

    <p>Table Mapping</p>

    <div id="myGrid" style="height: 800px;" class="ag-theme-balham"></div>
    <div id="histPlot"></div>

    <div id="dotplot"></div>


<br>
<button class="collapsible"><h2><img src="/static/bodymap/img/arrow.png" style="width:30px" alt="Arrow used to extend the page"> 
    Gene Mapping</h2></button>
<div class="content" style="display: none">
    Error: {{ Error }}
    {% if Type == "chem" %}
    <p>Chemical (CAS): {{CAS}}</p>
    {% endif %}
</div>



<p>
    End Page
</p>




<script>
// create the grid passing in the div to use together with the columns & data we want to use

var typeTable = {{ TypeJS | safe }};
var dmap = {{ dmap | safe }};



if (typeTable == "assays"){
    var nameGrid = '#myGrid'
    var eGridDiv = document.querySelector(nameGrid);
    gridOptions = defineGridAssays(dmap);
    new agGrid.Grid(eGridDiv, gridOptions);
}else{
    var nameGrid = '#myGrid'
    var eGridDiv = document.querySelector(nameGrid);
    gridOptions = defineGridChem(dmap);
    new agGrid.Grid(eGridDiv, gridOptions);
}
;




var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    });
}





var country = ['Switzerland (2011)', 'Chile (2013)', 'Japan (2014)', 'United States (2012)', 'Slovenia (2014)', 'Canada (2011)', 'Poland (2010)', 'Estonia (2015)', 'Luxembourg (2013)', 'Portugal (2011)'];

var votingPop = [40, 45.7, 52, 53.6, 54.1, 54.2, 54.5, 54.7, 55.1, 56.6];

var regVoters = [49.1, 42, 52.7, 84.3, 51.7, 61.1, 55.3, 64.2, 91.1, 58.9];

var trace1 = {
  type: 'scatter',
  x: votingPop,
  y: country,
  mode: 'markers',
  name: 'Percent of estimated voting age population',
  marker: {
    color: 'rgba(156, 165, 196, 0.95)',
    line: {
      color: 'rgba(156, 165, 196, 1.0)',
      width: 1,
    },
    symbol: 'circle',
    size: 16
  }
};

var trace2 = {
  x: regVoters,
  y: country,
  mode: 'markers',
  name: 'Percent of estimated registered voters',
  marker: {
    color: 'rgba(204, 204, 204, 0.95)',
    line: {
      color: 'rgba(217, 217, 217, 1.0)',
      width: 1,
    },
    symbol: 'circle',
    size: 16
  }
};

var data = [trace1, trace2];

var layout = {
  title: 'Votes cast for ten lowest voting age population in OECD countries',
  xaxis: {
    showgrid: false,
    showline: true,
    linecolor: 'rgb(102, 102, 102)',
    titlefont: {
      font: {
        color: 'rgb(204, 204, 204)'
      }
    },
    tickfont: {
      font: {
        color: 'rgb(102, 102, 102)'
      }
    },
    autotick: false,
    dtick: 10,
    ticks: 'outside',
    tickcolor: 'rgb(102, 102, 102)'
  },
  margin: {
    l: 140,
    r: 40,
    b: 50,
    t: 80
  },
  legend: {
    font: {
      size: 10,
    },
    yanchor: 'middle',
    xanchor: 'right'
  },
  width: 600,
  height: 600,
  paper_bgcolor: 'rgb(254, 247, 234)',
  plot_bgcolor: 'rgb(254, 247, 234)',
  hovermode: 'closest'
};



dotPlot(dmap);


</script>



{% endblock content %}