{% extends "base.html" %}
{% load static %}
{% block extra-css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css"
          rel="stylesheet" type="text/css"/> 
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css"
          rel="stylesheet" type="text/css"/>
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css"
          rel="stylesheet" type="text/css"/> 

<link href="https://sandbox.ntp.niehs.nih.gov/bodymap/static/css/theme.css" rel="stylesheet">
<!--<link href="/static/bodymap/css/theme.css" rel="stylesheet"> -->

{% endblock %}
{% block title %} Index bodymap{% endblock %}
{% block content %}

<div role="navigation"> {% include 'bodymap/includes/navbar.html' %}</div> 
    
<h1>Tox21BodyMap</h1>

<h1>Map a chemical activities on body</h1>
<br>
<p>Please choose the chemical you would like to map on the human body.</p>





{% endblock content %}
