{% extends "base.html" %}
{% load static %}
{% block extra-css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css"
          rel="stylesheet" type="text/css"/> 
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css"
          rel="stylesheet" type="text/css"/>
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css"
          rel="stylesheet" type="text/css"/> 

<link href="https://sandbox.ntp.niehs.nih.gov/bodymap/static/css/theme.css" rel="stylesheet">
<!--<link href="/static/bodymap/css/theme.css" rel="stylesheet"> -->

{% endblock %}
{% block title %} Index bodymap{% endblock %}
{% block content %}

<div role="navigation"> {% include 'bodymap/includes/navbar.html' %}</div> 
    
<h1>Tox21BodyMap</h1>

<h1>Map a chemical activities on body</h1>
<br>
<p>Please choose the chemical you would like to map on the human body.</p>


<!--<h2>Visualization</h2>
    <p>ChemMaps.com aloows user to navigate in the space using different navigation tools.
        <div class="row">
            <div class="column">
                <div class="desc">Navigate in a 3D space</div>
                <a href="https://sandbox.ntp.niehs.nih.gov/chemmaps/static/img/drugmap2.PNG">
                    <img src="https://sandbox.ntp.niehs.nih.gov/chemmaps/static/img/drugmap2.PNG" style="width:100%" alt="Example of chemical universe">
                </a>
            </div>
            <div class="column">
                <div class="desc">Select chemicals on the fly</div>
                <a href="https://sandbox.ntp.niehs.nih.gov/chemmaps/static/img/drugmap3.PNG">
                    <img src="https://sandbox.ntp.niehs.nih.gov/chemmaps/static/img/drugmap3.PNG" style="width:100%" alt="Example of a chemical selection on the fly">
            </a>
            </div>
            <div class="column">
                <div class="desc">Explore neighborhood</div>
                <a href="https://sandbox.ntp.niehs.nih.gov/chemmaps/static/img/drugmap4.PNG">
                    <img src="https://sandbox.ntp.niehs.nih.gov/chemmaps/static/img/drugmap4.PNG" style="width:100%" alt="Exmple of zoom in a chemical neighborhood">
                </a>
            </div>
            <div class="column">
                <div class="desc">Draw chemicals</div>
                <a href="https://sandbox.ntp.niehs.nih.gov/chemmaps/static/img/drugmap1.PNG">
                    <img src="https://sandbox.ntp.niehs.nih.gov/chemmaps/static/img/drugmap1.PNG" style="width:100%" alt="Example of chemicals drawn on the map">
                </a>
            </div>
        </div>
    </p>-->


{% endblock content %}
