{% extends "base.html" %}
{% load static %}
{% block content %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/static/django_server/css/ntpweb.css" rel="stylesheet">
<link href="/static/django_server/css/ntpweb-shared.css" rel="stylesheet">
<link href="/static/django_server/css/base.css" rel="stylesheet">
<link href="/static/bodymap/css/theme.css" rel="stylesheet">
<link href="/static/bodymap/css/table.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
<script src="/static/bodymap/js/table.js"></script>

{% include 'bodymap/includes/navbar.html' %}

<h1>Results</h1>


Error: {{ Error }}
{% if Type == "chem" %}
<p>Chemical (CAS): {{CAS}}</p>
{% endif %}

<p>Table Mapping</p>

<div id="myGrid" style="height: 800px;" class="ag-theme-balham"></div>

<p>
    End Page
</p>




<script>
var dmap = {{ dmap | safe }};
var typeTable = {{ TypeJS | safe }};
console.log(typeTable);
console.log(dmap);
// lookup the container we want the Grid to use
if (typeTable == "assays"){
    var nameGrid = '#myGrid'
    var eGridDiv = document.querySelector(nameGrid);
    gridOptions = defineGridAssays(dmap);
    new agGrid.Grid(eGridDiv, gridOptions);
}else{
    var nameGrid = '#myGrid'
    var eGridDiv = document.querySelector(nameGrid);
    gridOptions = defineGridChem(dmap);
    new agGrid.Grid(eGridDiv, gridOptions);
}
;

// create the grid passing in the div to use together with the columns & data we want to use

</script>



{% endblock content %}