{% extends "base.html" %}
{% block extra-css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css"
rel="stylesheet" type="text/css"/> 
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css"
rel="stylesheet" type="text/css"/>
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css"
rel="stylesheet" type="text/css"/>
{% endblock %}


{% block title %}Admin ToolBox{% endblock %}
{% block content %}
<p>
<h2>Quick database check</h2>
    

<br>
<br>
<br>
<br>

<h1>Chemicals updates</h1>

<h1>ChemMaps coordinates</h1>


</p>


<i>Last update: 10/2020</i>


{% endblock content %}
