{% extends "base.html" %}
{% load static %}
{% block extra-css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css"
rel="stylesheet" type="text/css"/> 
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css"
rel="stylesheet" type="text/css"/>
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css"
rel="stylesheet" type="text/css"/>
<link href="{% static 'toolchem/css/theme.css' %}" rel="stylesheet">

{% endblock %}


{% block title %}Admin ToolBox{% endblock %}
{% block content %}

{% if notice|length > 0  %}
<br>
<p class="noticeform">
    {% for l_notice in notice %}
    {{l_notice}}<br>
    {% endfor %}
</p>
{% endif %}
<p>
<h1>Databases summary</h1>
<h2>Databse in production</h2>
Number of chemicals in the database: <b>{{ d_chem_json.All_chem }}</b><br>
Number of structures cleaned available (SMILES prepared properly): <b>{{ d_chem_json.All_chem_cleaned }}</b><br>
Number of structures with descriptors 2D and 3D (descriptors computed properly): <b>{{ d_chem_json.All_chem_desc }}</b><br>
<br>

<h2>Database for update</h2>
Number of chemicals ready to be pushed in production: <b>{{ d_chem_json.All_chem_update }}</b><br>
Number of chemicals cleaned, with descriptors and coordiantes ready to be pushed: <b>{{ d_chem_json.All_chem_desc_update }}</b><br>
Number of chemicals with new coordinates to be pushed: <b>{{ d_chem_json.coordinate_update }}</b><br>
<br>

<h2>Database with user uploads</h2>
Chemicals in <i>chemicals_user</i> table (number of chemicals submitted by user): <b>{{ d_chem_json.All_chem_user }}</b><br>
Chemicals in <i>chemical_description_user</i> properly processed: <b> {{ d_chem_json.All_chem_desc_user }}</b><br>
<br>
<form action='/toolchem/clearuserchem' method='post'>{% csrf_token %}
    <input type='submit' value='Clear chemicals submitted by users' onclick="return confirm('Are you sure you want to delete user uploads?')">
</form>

<br>
<br>
<h2>Summary by applications</h2>
<div class="div-table">
    <div class="div-table-row">
        <div class="div-table-head">ChemMaps</div>
        <div class="div-table-head">InterPred</div>
        <div class="div-table-head">BodyMap</div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col">
            Chemicals in DSSToxMap: <b>{{ d_chem_json.chemmaps_DSSTOXMap }}</b><br>
            Chemicals in DrugMap: <b>{{ d_chem_json.chemmaps_DrugMap }}</b><br>
            Chemicals in PFASMap: <b>{{ d_chem_json.chemmaps_PFASMap }}</b><br>
            Chemicals in Tox21Map: <b>{{ d_chem_json.chemmaps_Tox21Map }}</b><br>
        </div>
        <div class="div-table-col">
            Chemicals interference computed: <b>{{ d_chem_json.interpred_chem }}</b>
        </div>
        <div class="div-table-col">
            Chemicals in BodyMap: <b>{{ d_chem_json.bodymap_chem }}</b>
        </div>
    </div>
</div>
<br>


<h1>Updates ready to be pushed</h1>

Chemicals ready to be push in the main chemicals table:<b> {{ d_chem_json.All_chem_update }}</b><br>
<br>
<form action='/toolchem/pushUpdate' method='post'>{% csrf_token %}
    <input type='submit' value='Push updates' onclick="return confirm('By pushing the update you will impact the production database and erase the temporary update table.\n Are you sure you want to push?')">
</form>
<br>

<a href="/toolchem/">Back to update page</a><br><br>
<i>Last update: 04/2021</i>
{% endblock content %}
