<footer id="footer"> 
  <div class="footer-updates row align-middle">
    <div class="medium-6 columns"><a href="#top" class="button transparent back-to-top icon">Back to Top</a></div>
  </div>
  <div class="footer-nav">
    <div class="row">
      <div class="link-category column small-12 medium-6 large-2">
        <h5 class="no-toc">About NTP</h5>
        <ul class="vertical menu">
          <li><a href="https://ntp.niehs.nih.gov/go/annualreport" target="_blank" rel="noopener noreferrer" class="external">Annual Report</a></li>
          <li><a href="https://ntp.niehs.nih.gov/ntp/pubs/currentdirections2014_508.pdf" target="_blank" rel="noopener noreferrer" class="external pdf">Current Directions</a></li>
          <li><a href="https://niehs.nih.gov/research/atniehs/dntp/index.cfm" target="_blank" rel="noopener noreferrer" class="external">NTP at NIEHS</a></li>
          <li><a href="https://ntp.niehs.nih.gov/go/org">Organization</a></li>
        </ul>
      </div>
      <div class="link-category column small-12 medium-6 large-2">
        <h5 class="no-toc">News &amp; Media</h5>
        <ul class="vertical menu">
          <li><a href="https://ntp.niehs.nih.gov/go/factsheet">FAQs &amp; Fact Sheets</a></li>
          <li><a href="https://ntp.niehs.nih.gov/go/frn">Federal Register Notices</a></li>
          <li><a href="https://ntp.niehs.nih.gov/go/news">News</a></li>
          <li><a href="https://ntp.niehs.nih.gov/go/ntpupdate" target="_blank" rel="noopener noreferrer" class="external">Update Newsletter</a></li>
        </ul>
      </div>
      <div class="link-category column small-12 medium-6 large-2">
        <h5 class="no-toc">Get Involved</h5>
        <ul class="vertical menu">
          <li><a href="https://ntp.niehs.nih.gov/go/calendar">Calendar &amp; Events</a></li>
          <li><a href="https://ntp.niehs.nih.gov/go/contact">Contact NTP</a></li>
          <li><a href="https://ntp.niehs.nih.gov/go/input">Nominate to NTP</a></li>
          <li><a href="https://niehs.nih.gov/careers/research/postdoc-training/index.cfm" target="_blank" rel="noopener noreferrer" class="external">Postdoctoral Training</a></li>
          <li><a href="https://tools.niehs.nih.gov/webforms/index.cfm/main/formViewer/form_id/361">Subscribe to News Updates</a></li>
        </ul>
      </div>
      <div class="link-category column small-12 medium-6 large-2">
        <h5 class="no-toc">Support</h5>
        <ul class="vertical menu">
          <li><a href="https://tools.niehs.nih.gov/webforms/index.cfm/main/formViewer/form_id/521?EMAILB=WEBMASTER">Contact Web Support</a></li>
          <li><a href="https://ntp.niehs.nih.gov/go/help">Help</a></li>
          <li><a href="https://ntp.niehs.nih.gov/go/map">Site Map</a></li>
          <li><a href="https://ntp.niehs.nih.gov/go/17381">Visiting NTP</a></li>
        </ul>
      </div>
      <div class="footer-logos column small-12 medium-6 large-4">
        <a href="https://www.usa.gov" target="_blank" rel="noopener noreferrer"><img src="https://ntp.niehs.nih.gov/images/template/logo_usagov_dark.png" alt="USA.gov is the U.S. government's official web portal to all federal, state, and local government web resources and services" title="USA.gov: Government Made Easy" class="show-for-medium"/><img src="https://ntp.niehs.nih.gov/images/template/logo_usagov.png" alt="USA.gov is the U.S. government's official web portal to all federal, state, and local government web resources and services" title="USA.gov: Government Made Easy" class="show-for-small-only"/></a>
        <a href="https://www.hhs.gov" target="_blank" rel="noopener noreferrer"><img src="https://ntp.niehs.nih.gov/images/template/logo_hhs_dark.png" alt="U.S. Department of Health and Human Services" title="U.S. Department of Health and Human Services (HHS)" class="show-for-medium"/><img src="https://ntp.niehs.nih.gov/images/template/logo_hhs.png" alt="U.S. Department of Health and Human Services" title="U.S. Department of Health and Human Services (HHS)" class="show-for-small-only"/></a>
        <ul>
          <li><a href="https://niehs.nih.gov/about/od/ocpl/foia" target="_blank" rel="noopener noreferrer" class="external">Freedom of Information Act</a></li>
          <li><a href="https://oig.hhs.gov" target="_blank" rel="noopener noreferrer" class="external">Inspector General</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-links">
    <div class="row medium-unstack">
      <div id="footer-ntp" class="column large-8 medium-6 small-12">NTP is located at the <a href="https://www.niehs.nih.gov" target="_blank" rel="noopener noreferrer" class="external">National Institute of Environmental Health Sciences</a>, part of the <a href="https://www.nih.gov" target="_blank" rel="noopener noreferrer" class="external">National Institutes of Health</a></div>
    </div>
  </div>
</footer>
 
<script>
$(document).foundation();
</script>
