<header id="top">
  <div class="header-nav">
    <div class="row">
      <div class="column"></div>
      <div class="column shrink">
        <ul class="menu">
          <li><a href="https://ntp.niehs.nih.gov/go/calendar">Calendar<span> &amp; Events</span></a></li>
          <li><a href="https://ntp.niehs.nih.gov/go/newsmedia">News &amp; Media</a></li>
          <li><a href="https://ntp.niehs.nih.gov/go/getinvolved">Get Involved</a></li>
          <li><a href="https://ntp.niehs.nih.gov/go/support">Support</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="header-print" class="print-only"><img src="https://ntp.niehs.nih.gov/images/template/logo_print.gif" alt="National Toxicology Program"/></div> 
  <div class="header-identity">
    <div class="row medium-unstack align-middle">
      <div class="columns large-4 medium-6 small-12 small-order-1 header-logo"><a href="https://ntp.niehs.nih.gov"><img src="https://ntp.niehs.nih.gov/images/template/logo_ntp_white.png" alt="National Toxicology Program - U.S. Department of Health and Human Services" title="Return the NTP home page"/></a></div>
      <div class="columns large-4 large-offset-4 medium-6 small-order-2 header-search">
        <form name="search" id="search" class="input-group" method="get" action="https://ntpsearch.niehs.nih.gov">
          <span class="input-group-label"><i class="fa fa-search" aria-hidden="true"></i></span>
          <input type="text" placeholder="Search the NTP Website" id="query-search" class="input-group-field queryAutocomplete ui-autocomplete-input" name="query" title="Search the NTP Website" aria-label="Search Keyword"/>        
          <input type="submit" class="button input-group-button" value="Search"/>
        </form>
      </div>
    </div>
  </div>
</header>
