* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: '';
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}



h1 {
    margin: 25px;
    margin-bottom: 15px;
    color: #000000;
    /*font-size: 3.6vmin;*/
    font-size: 40px;
}

h2 {
    margin: 25px;
    margin-bottom: 15px;
    color: #000000;
    /*font-size: 3.6vmin;*/
    font-size: 30px;
}

h3 {
    margin: 20px;
    margin-bottom: 15px;
    color: #000000;
    /*font-size: 3.6vmin;*/
    font-size: 30px;
}

.textSMILES,
textarea {
    font-size: 20px;
}

input[type='submit'] {
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 2px;
    border: 1.5px solid #999999;
    color: #333333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type='submit']:hover {
    background-color: #228B22;
    color: #ffffff;
}

.upload_button {
    background-color: #e8e8e7;
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 2px;
    border: 1.5px solid #999999;
    color: #333333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 25px;
}

.inputButton{
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 2px;
    border: 1.5px solid #999999;
    color: #333333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.inputButton:hover{
    background-color: #228B22;
    color: #ffffff;
}


button:hover {
    background-color: #228B22;
    color: #ffffff;
}

#UploadBox {
    font-size: 2vmin;
}

#UploadBox,
upload_button {
    font-size: 2vmin;
    margin-top: 1px;
    margin-bottom: 2px;
    color: #333333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#UploadBox,
upload_button:hover {
    color: #000000;
}

p.Errorform {
    border-style: solid;
    border-color: red;
    font-size: 20px;
    text-align: center;
    background-color: red;
}

.column-checkbox {
    padding-top: 0px;
}

.column-checkbox .checkbox {
    display: inherit;
    float: left;
    width: 25%;
}

.column-checkbox,
label {
    color: #000000;
}

.column-checkbox,
li {
    align-content: flex-start;
}

.btn:hover {
    background-color: #e8e8e7;
}

p {
    margin: 20px;
}

.div-table {
    display: block;
    width: 80%;
    margin: 20px;
}

.div-table-body,
.div-table-foot,
.div-table-row {
    clear: both;
}

.div-table-head,
.div-table-foot {
    background-color: #ddd;
    font-weight: bold;
}

.div-table-col,
.div-table-head {
    border: 1px solid #999999;
    float: left;
    height: 40px;
    overflow: hidden;
    padding: 3px 1.8%;
    width: 20%;
    font-size: 12px;
}

.div-table-head {
    font-size: 15px;
}

.div-table:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
}





/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 20px;
    background-color: transparent;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: '';
    display: table;
    clear: both;
    background-color: transparent;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 12px;
    font-size: 22px;
    /*font-size: 2.5vmin*/
}




/* Managing table*/
/* DivTable.com */
.divTable{
	display: table;
    width: 100%;
    color: #000;
}
.divTableRow {
    display: table-row;
    background-color: #ffffff;
}

.divTableHeading {
	background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}
.divTableCell, .divTableHead {
	display: table-cell;
    padding: 3px 10px;
    max-width: 180px;
    text-wrap: normal;
    word-wrap: break-word;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}


.divTableBody > div:nth-child(2n) {
    background-color:lightgray;
}


.aurl{
    color: #1E6B07;
}

.aurl:hover{
    color: #1E6B07;
}