* {
    box-sizing: border-box;
}

h1 {
    margin: 25px;
    margin-bottom: 15px;
    color: #000000;
    /*font-size: 3.6vmin;*/
    font-size: 40px;
}

h2 {
    margin: 25px;
    margin-bottom: 15px;
    color: #000000;
    /*font-size: 3.6vmin;*/
    font-size: 30px;
}

h3 {
    margin: 0px;
    margin-bottom: 15px;
    color: #000000;
    /*font-size: 3.6vmin;*/
    font-size: 30px;
}


input[type='submit'] {
    font-size: 15px;
    margin-top: 1px;
    margin-bottom: 2px;
    border: 1.5px solid #999999;
    color: #333333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type='submit']:hover {
    background-color: #DE3C1A;
    color: #ffffff;
}

.upload_button {
    background-color: #e8e8e7;
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 2px;
    border: 1.5px solid #999999;
    color: #333333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 25px;
}

button:hover {
    border: 2px solid brown;
    color: #ffffff;
}

button::after{
    border: 2px solid white;
    color: #ffffff;
}

#UploadBox {
    font-size: 2vmin;
}

#UploadBox,
upload_button {
    font-size: 2vmin;
    margin-top: 1px;
    margin-bottom: 2px;
    color: #333333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#UploadBox,
upload_button:hover {
    color: #000000;
}

p.Errorform {
    border-style: solid;
    border-color: red;
    font-size: 20px;
    text-align: center;
}

.column-checkbox {
    padding-top: 0px;
}

.column-checkbox .checkbox {
    display: inherit;
    float: left;
    width: 25%;
}

.column-checkbox,
label {
    color: #000000;
}

.column-checkbox,
li {
    align-content: flex-start;
}

.btn:hover {
    background-color: #e8e8e7;
}

p {
    margin: 15px;
    font-size: 20px;
    width: 100%;
}

.div-table {
    display: block;
    width: 80%;
    margin: 20px;
}

.div-table-body,
.div-table-foot,
.div-table-row {
    clear: both;
}

.div-table-head,
.div-table-foot {
    background-color: #ddd;
    font-weight: bold;
}

.div-table-col,
.div-table-head {
    border: 1px solid #999999;
    float: left;
    height: 40px;
    overflow: hidden;
    padding: 3px 1.8%;
    width: 20%;
    font-size: 12px;
}

.div-table-head {
    font-size: 15px;
}

.div-table:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
}





/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 20px;
    background-color: transparent;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: '';
    display: table;
    clear: both;
    background-color: transparent;
}




/* Play with the slider */

input[type='range']  {
    -webkit-appearance: none ;
    width:200px;
}
input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none ;
    appearance: none ;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px rgba(000,000,000,0.10);
    background-color: #CCC;
    height: 8px;
    vertical-align:middle;
    border: none;
    cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 100%;
    background-color: #d52d03;
    box-shadow: inset 0 0 0 4px #CCC, inset 0 0 4px #CCC, inset 0 0 0 4px #CCC;
    height: 22px;
    width: 22px;
    vertical-align:middle;
    border: none;
    cursor: pointer;
    margin-top: -6px;
}
input[type='range']::-webkit-slider-thumb:hover { 
    background: #fdd921;
}
input[type='range']:active::-webkit-slider-thumb { 
    background: #fdd921; 
}
input[type='range']::-moz-range-track{
    -moz-appearance: none ;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px rgba(000,000,000,0.10);
    background-color: #CCC;
    height: 8px;
    vertical-align:middle;
    margin:0; padding:0;
    border: none;
    cursor: pointer; 
}
input[type='range']::-moz-range-thumb {
    -moz-appearance: none ;
    border-radius: 100%;
    background-color: #d52d03;
    box-shadow: inset 0 0 0 4px #CCC, inset 0 0 4px #CCC, inset 0 0 0 4px #CCC;
    height: 22px;
    width: 22px;
    vertical-align:middle;
    border: none;
    cursor: pointer;
    margin-top: -6px;
}
input[type='range']::-moz-range-thumb:hover { 
    background: #fdd921; 
}
input[type='range']:active::-moz-range-thumb { 
    background: #fdd921; 
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #CCC;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #CCC;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: inset 0 0 0 4px #CCC, inset 0 0 4px #CCC, inset 0 0 0 4px #CCC;
    border: 0px solid #000000;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    background: #d52d03;
    cursor: pointer;
    margin-top: -2px;	
}



.tooltipBM {
    position: relative;
    display: inline-block;
}
  
.tooltipBM .tooltipBMtext {
    visibility: hidden;
    width: 240px;
    background-color: #555;
    font-size: 15px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltipBM .tooltipBMtext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltipBM:hover .tooltipBMtext {
    visibility: visible;
    opacity: 1;
}



#circle {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: red;
    display:inline-block;
  }



.aurl{
    color: darkred;
}

.aurl:hover{
    color: darkred;
}

.bodymapping{
    background: url("{% static 'bodymap/img/Human_Body_V23.png' %}");
    width: 825px;
    height: 720px
}