/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Apr 24, 2017, 4:45:15 PM
    Author     : aborrel
*/

body {
    background-color: #000;
    margin: 0px;
    overflow: hidden;
    /*background-image: url("../img/background.jpg");
    
    background-image: url('/static/chemmaps/img/water.jpg');*/
}

#backPFAS {
    background-image: url("../img/black-sea-water-texture-free.png");
}

#backDSSTOX {
    background-image: url("../img/background.jpg");
}

#backDrugmap {
    background-image: url("../img/chem_background.png");
}

#backTox21{
    background-image: url("../img/Tox21Banner.png");
}

a:link {
    color: yellow;
    text-decoration: none;
}

a:hover {
    font-style: italic;
}

#blockdiv {
    position: absolute;
    top: 6%;
    left: 1%;
    color: #ff0000;
    font-family: Monospace;
    font-size: 15px;
    text-align: left;
}

#blockassay {
    position: absolute;
    top: 1%;
    left: 40%;
    color: #fff;
    font-family: Monospace;
    font-size: 20px;
    text-align: center;
}

#info {
    position: absolute;
    top: 75%;
    width: 50%;
    right: 1%;
    bottom: 1%;
    color: #ffffff;
    font-family: Monospace;
    background: #000000;
    opacity: 0.88;
    border-color: #ffffff;
    border-style: solid;
}

#pngcompound {
    position: absolute;
    top: 10%;
    bottom: 10%;
    max-width: 25%;
    max-height: 100%;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}

/*#Compoundpng2 {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

#infotext {
    position: absolute;
    left: 25%;
    top: 16%;
    width: 55%;
    font-size: 1.6vmin;
}

#commandExtract {
    position: absolute;
    left: 75%;
    top: 6%;
    font-size: 1.4vmin;
}

#searchbar {
    position: absolute;
    top: 8%;
    left: 1%;
}

#iconhome {
    position: absolute;
    top: 93%;
    left: 1%;
}

#iconNTP {
    position: absolute;
    top: 1%;
    left: 1%;
}



.control {
    font-size: 1.6vmin;
    width: 100%;
}

button {
    font-size: 1.3vmin;
}

select {
    font-size: 1.6vmin;
}

input[type='text'] {
    width: 30px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-position: 2px 3px;
    background-size: 18px;
    background-repeat: no-repeat;
    padding: 5px 10px 5px 22px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type='text']:focus {
    width: 98%;
}
