.bgindex {
    /*#margin: 0px;
    overflow: hidden;*/
    background-image: url("../img/background.jpg");
    color:#ffffff;
    /*margin-top: 15px*/
}


#bg {
    /*#margin: 0px;
    overflow: hidden;*/
    background-image: url("../img/background.jpg");
    color:#ffffff;
    /*margin-top: 15px*/
}


.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.bg2{
    background-color: #545454;
    margin-bottom: 0px
}


#bg2 {
    /*background-color: #000;
    #margin: 0px;
    overflow: hidden;*/
    background-color: #ffffff;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    color: #000000;
}


htitle {
    margin-bottom: 15px;
    color: #e8e8e7;
    /*font-size: 3.6vmin;*/
    font-size: 120px;
}



h1 {
    margin: 25px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: bolder;
    /*font-size: 3.6vmin;*/
    font-size: 40px;
}

h2 {
   margin: 25px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 600;
    /*font-size: 5.6vmin;*/
    font-size: 30px;
}

h3 {
    margin: 20px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: bolder;
    /*font-size: 3.6vmin;*/
    font-size: 30px;
}


.aurl{
    color: #fff;
    font-style: italic
}

.update{
    margin-left: 15px;
    background:#edeff0;
    font-size: 15px;
    width: 70%;
}

#searchbarDSSTOX {
    font-size: 3vmin;
    margin-right: 75%;
    margin-left: 30px;
}

#selectMapBox {
    font-size: 22px;
    /*font-size: 2vmin;*/
    margin-right: 75%;
    margin-left: 30px;
}

#tableDSSToxMap {
    margin: 30px;
    width: 95%;
}

/* The grid: Four equal columns that floats next to each other */
/*.column {
    float: left;
    width: 25%;
    padding: 20px;
    background-color: transparent;
    font-size: 22px;
}*/

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: '';
    display: table;
    clear: both;
    background-color: transparent;
}



/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 22px;
    /*font-size: 2.5vmin*/
}

p {
    font-size: 20px;
    /*font-size: 2.5vmin*/
    margin: 20px;
}

.marginauto {
    margin: 10px auto 20px;
    display: block;
}

.upload_button {
    background-color: #e8e8e7;
    font-size: 22px;
    /*font-size: 2vmin;*/
    margin-top: 1px;
    margin-bottom: 2px;
    margin-left: 30px;
    border: 2px solid #999999;
    color: #333333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 25px;
}


.btn:hover {
    background-color: #e8e8e7;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
}



input[type='submit'] {
    font-size: 22px;
    /*font-size: 2.5vmin;*/
    margin-top: 1px;
    margin-bottom: 2px;
    margin-left: 30px;
    border: 2px solid #999999;
    color: #333333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type='submit']:hover {
    background-color: #000000;
    color: #ffffff;
}

.column-checkbox {
    padding-top: 0px;
}
.column-checkbox .checkbox {
    display: inherit;
    float: left;
    width: 25%;
}

.column-checkbox,
label {
    color: #ffffff;
}

.column-checkbox,
li {
    align-content: flex-start;
}

.textSMILES,
textarea {
    font-size: 22px;
    /*font-size: 2vmin;*/
}

#UploadBox {
    font-size: 22px;
    /*font-size: 2vmin;*/
}

#UploadBox,
upload_button {
    width: 25%;
    font-size: 22px;
    /*font-size: 2.5vmin*/
    margin-top: 1px;
    margin-bottom: 2px;
    margin-left: 30px;
    color: #333333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#UploadBox,
upload_button:hover {
    background-color: #000000;
    color: #ffffff;
}

p.Errorform {
    border-style: solid;
    border-color: red;
    font-size: 22px;
    /*font-size: 2vmin;*/
    text-align: center;
    background-color: red;
    margin-right: 0px;
    margin-left: 0px;
}


textarea {
    width: 85%;
    margin-left: 30px;
}


/* Managing table*/
/* DivTable.com */
.divTable{
	display: table;
    width: 100%;
    color: #000;
}
.divTableRow {
    display: table-row;
    background-color: #ffffff;
}

.divTableHeading {
	background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}
.divTableCell, .divTableHead {
	display: table-cell;
    padding: 3px 10px;
    max-width: 180px;
    text-wrap: normal;
    word-wrap: break-word;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}


.divTableBody > div:nth-child(2n) {
    background-color:lightgray;
}
