{% extends "base.html" %}
{% block extra-css %}
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css" rel="stylesheet" type="text/css" />
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css" rel="stylesheet" type="text/css" />
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

<br><br>
<div class="col-md-offset-2 col-md-8 error">
    <h1>500 server error.</h1>
    <p>Ooops, something went wrong.<br><br>
        Try to refresh this page or feel free to contact us at chemmaps&#60;&#60;a&#62;&#62;mail.nih.gov if the problem persists.

    </p>
</div>

{% endblock content %}