{% extends "base.html" %}
{% block extra-css %}
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css" rel="stylesheet" type="text/css" />
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css" rel="stylesheet" type="text/css" />
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

<h1>Server production and test</h1>
<br>
<li><b>ChemMaps (version 3)</b></li>
<ul>
    <li><a href="/chemmaps/">dev version</a></li>
</ul>

<li><b>Interference prediction (version 2)</b></li>
<ul>
    <li><a href="/interferences/">dev version</a></li>
</ul>
<li><b>BodyMap (version 2)</b></li>
<ul>
    <li><a href="/bodymap/">dev version</a></li>
</ul>

<li><b>Tool to update chemical database and ChemMaps coordinates</b></li>
<ul>
    <li><a href="/toolchem/">dev version</a></li>
</ul>





{% endblock content %}