{% load url_replace %}

{% if is_paginated %}
<div class="col-md-offset-4 col-md-4">
    <ul class="pager">
        <li class="previous{% if not page_obj.has_previous %} disabled{% endif %}">
            <a
                {% if page_obj.has_previous %}
                    href="?{% url_replace request 'page' page_obj.previous_page_number %}"
                {% endif %}>
                <span aria-hidden="true">&larr;</span> Previous
            </a>
        </li>
        <li>
            <span style="border: none"><b>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</b></span>
        </li>
        <li class="next{% if not page_obj.has_next %} disabled{% endif %}">
            <a
                {% if page_obj.has_next %}
                    href="?{% url_replace request 'page' page_obj.next_page_number %}"
                {% endif %}>
                Next <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</div>
{% endif %}
