{% extends "base.html" %}

{% block title %}Interference prediction{% endblock %}

{% block crumbs %}
<ul class="nav nav-tabs" style="margin: 0.5em 0">

    <li role="presentation" class="{% if active_view_name == 'home' %}active{% endif %}">
        <a href="{% url 'interferences:home' %}"><i class="fa fa-home fa-lg"></i>&nbsp;Home </a></li>

    <li role="presentation" class="{% if active_view_name == 'uploadSMILES' %}active{% endif %}">
        <a href="{% url 'interferences:uploadSMILES' %}">Compute interferences</a></li>

    <li role="presentation" class="{% if active_view_name == 'resources' %}active{% endif %}">
        <a href="{% url 'interferences:resources' %}">Resources</a></li>

</ul>
{% endblock crumbs %}
