{% extends "base.html" %}
{% block content %}
{% block extra-css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css"
rel="stylesheet" type="text/css"/> 
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css"
rel="stylesheet" type="text/css"/>
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css"
rel="stylesheet" type="text/css"/>
<link href="/static/interferences/css/theme.css" rel="stylesheet">
<link href="/static/interferences/css/table.css" rel="stylesheet">
{% endblock %}
{% include 'interferences/includes/navbar.html' %}

<h1>QSAR-ready SMILES</h1>
<br>

{% if ERRORSmiles == "1" %}
<p class = "Errorform" style="margin-right: 0px"> No valid SMILES found.</p>
{% endif %}


<div class="row">
    <div class="column" style="background-color:#004400;">
        <h3>Inputs</h3>
        <table width="100%" border="0">
            <tr><th>ID</th><th>Input</th></tr>
            {% for lk, lv in dSMILESIN.items %}
            <tr><th>{{lk}}</th><th>{{lv}}</th></tr>
            {% endfor %}
        </table>
    </div>
    <div class="column" style="background-color:#04600b;">
        <h3>QSAR-ready SMILES</h3>
        <table width="100%" border="0">
            <tr><th>ID</th><th>SMILES</th><th></th></th></tr>
            {% for k1, dout in dSMILESOUT.items %}
            <tr><th>{{k1}}</th>
                <th>{{dout.SMILES}}</th><th><img src="{{STATIC_URL}}{{dout.file}}" width="18"></th>
            </tr>
            {% endfor %}

        </table>
        <br><br>

        <form action='/interferences/uploadSMILES' method='get'>
            <input type='submit' value='Resubmit SMILES' />
        </form>

        {% if ERRORSmiles == "0" %}
        <form action='/interferences/computeDESC' method='get' onsubmit="ShowLoadingInterferences()">
            <input type='submit' value='Compute descriptors' runat="server"/>
        </form>
        {% endif %}

    </div>
</div>



{% endblock content %}

