{% extends "interferences/base.html" %}
{% block content %}


<script  src="{{STATIC_URL}}interferences/js/theme.js"></script>
<link href="{{STATIC_URL}}interferences/css/theme.css" rel="stylesheet">
<br>

{% if ERRORSmiles == "1" %}
<p class = "Errorform" style="margin-right: 0px"> No valid SMILES found.</p>
{% endif %}


<div class="row">
    <div class="column" style="background-color:#232b5f;">
        <h3>Inputs</h3>
        <table width="100%" border="0">
            <tr><th>ID</th><th>Input</th></tr>
            {% for lk, lv in dSMILESIN.items %}
            <tr><th>{{lk}}</th><th>{{lv}}</th></tr>
            {% endfor %}
        </table>
    </div>
    <div class="column" style="background-color:#232b8b;">
        <h3>SMILES prepared</h3>
        <table width="100%" border="0">
            <tr><th>ID</th><th>SMILES</th><th></th></th></tr>
            {% for k1, dout in dSMILESOUT.items %}
            <tr><th>{{k1}}</th>
                <th>{{dout.SMILES}}</th><th><img src="{{STATIC_URL}}{{dout.file}}" width="18"></th>
            </tr>
            {% endfor %}

        </table>
        <br><br>

        <form action='/interferences/uploadSMILES' method='get'>
            <input type='submit' value='Resubmit SMILES' />
        </form>

        {% if ERRORSmiles == "0" %}
        <form action='/interferences/computeDESC' method='get' onsubmit="ShowLoading()">
            <input type='submit' value='Compute descriptors' runat="server"/>
        </form>
        {% endif %}

    </div>
</div>



{% endblock content %}

