{% extends "base.html" %}
{% load static %}
{% block extra-css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css"
rel="stylesheet" type="text/css"/> 
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css"
rel="stylesheet" type="text/css"/>
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css"
rel="stylesheet" type="text/css"/>
<link href="{% static 'interferences/css/theme.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'interferences/css/table.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}Chemical descriptors{% endblock %}
{% block content %}
<script src="{% static 'interferences/js/theme.js' %}" type="text/javascript"></script>
{% include 'interferences/includes/navbar.html' %}
<h1>Chemical descriptors</h1>
<br>

{% if ErrorDesc == "1" %}
    <p class = "Errorform" style="margin-right: 0px"> No descriptor computed.</p>
{% endif %}

<div class="row">
        <div class="column" style="background-color:#004400;">
            <h3 style="color:#ffffff">Inputs</h3>
            <div class="divTable">
                    <div class="divTableHeading">
                        <div class="divTableHead">&nbsp;ID</div>
                        <div class="divTableHead">&nbsp;Input</div>
                    </div>
                    <div class="divTableBody">
                            {% for lk, lv in dSMILESIN.items %}
                            <div class="divTableRow">
                                    <div class="divTableCell">&nbsp;{{lk}}</div>
                                    <div class="divTableCell">&nbsp;{{lv}}</div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
        <div class="column" style="background-color:#04600b;">
            <h3 style="color:#ffffff">QSAR-ready SMILES</h3>
            <div class="divTable">
                    <div class="divTableHeading">
                        <div class="divTableHead">&nbsp;ID</div>
                        <div class="divTableHead">&nbsp;QSAR-ready SMILES</div>
                        <div class="divTableHead">&nbsp;</div>
                    </div>
                    <div class="divTableBody">
                            {% for k1, dout in dSMILESOUT.items %}
                            <div class="divTableRow">
                                    <div class="divTableCell">&nbsp;{{k1}}</div>
                                    <div class="divTableCell">&nbsp;{{dout.SMILES}}</div>
                                    {% if dout.file == 'checkOK.png' %}
                                        <div class="divTableCell"><img src="{% static 'interferences/img/checkOK.png' %}" width="25px" alt="Valide upload"></div>
                                    {% else %}
                                        <div class="divTableCell"><img src="{% static 'interferences/img/checkNo.png' %}" width="25px" alt="Error upload"></div>
                                    {% endif %}
                            </div>
                        {% endfor %}
                    </div>
            </div>
        </div>

        <div class="column" style="background-color:#0dd61c;">
            <h3>Descriptor computation</h3>
            <div class="divTable">
                    <div class="divTableHeading">
                        <div class="divTableHead">&nbsp;ID</div>
                        <div class="divTableHead">&nbsp;Chemical descriptors</div>
                        <div class="divTableHead">&nbsp;</div>
                    </div>
                    <div class="divTableBody">
                            {% for k1, dout in ddesc.items %}
                            <div class="divTableRow">
                                    <div class="divTableCell">&nbsp;{{k1}}</div>
                                    <div class="divTableCell">&nbsp;{{dout.Descriptor}}</div>
                                    {% if dout.desc == 'checkOK.png' %}
                                        <div class="divTableCell"><img src="{% static 'interferences/img/checkOK.png' %}" width="25px" alt="Valide upload"></div>
                                    {% else %}
                                        <div class="divTableCell"><img src="{% static 'interferences/img/checkNo.png' %}" width="25px" alt="Error upload"></div>
                                    {% endif %}
                            </div>
                        {% endfor %}
                    </div>
            </div>
            <br>
            {% if ErrorDesc == "1" %}
            <form action='/interferences/uploadSMILES/' method='get'>
                <input type='submit' value='Resubmit SMILES' />
            </form>
            {% endif %}

            {% if ErrorDesc != "1" %}
            <div align="right">
                <form method="get" action="/interferences/2D.csv"><button class="btn"><i class="fa fa-download"></i> Download 2D descriptor table</button></form>
                <form method="get" action="/interferences/OPERA.csv"><button class="btn"><i class="fa fa-download"></i> Download OPERA descriptor table</button></form>
            </div>
            {% endif %}
    </div>
</div>


<br><br>
{% if ErrorDesc != "1" %}
<h2>Choose models to prediction interferences</h2>
<br>
{% if Error == "1" %}
<p class = "Errorform"> Please choose at least one model</p>
{% endif %}

<form action='/interferences/results/' method='post' onsubmit="ShowLoadingInterferences()">{% csrf_token %}
    <div class="row">
        <div class="column">
            {% for aa in form_model.modelQSAR %}
            {% if forloop.counter0|divisibleby:6 %}  </div><div class="column"> {% endif %}
            {% if forloop.counter == 1 %} <b>Luciferase interference model</b>{% endif %}
            {% if forloop.counter == 2 %} <b>Generic autofluorescence model and by color</b>{% endif %}
            {% if forloop.counter == 6 %} <b>Specific autofluorescence model by cell type, color and condition</b>{% endif %}

            <div class="checkbox">{{ aa }}</div>
            {%endfor%}
            <br>
            <input type='submit' value='Compute predictions'>
            <br>
            <br>
            {{ form_model.INDB }}&nbsp;&nbsp; Check this box to opt out of saving your chemical information in the database*
        </div>
    </div>
    <br>
    <p>
        *For quality and speed purposes, each chemical not already included in the DSSTox Database will be added to our internal database by default. <br>
    </p>
</form>
{% endif %}

{% endblock content %}

