{% extends "base.html" %}
{% load static %}
{% block content %}
{% load static %}
{% block extra-css %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb-shared.css" rel="stylesheet" type="text/css"/> 
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/base.css" rel="stylesheet" type="text/css"/>
<link href="https://sandbox.ntp.niehs.nih.gov/static/css/ntpweb.css" rel="stylesheet" type="text/css"/>

<link href="{% static 'interferences/css/theme.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'interferences/css/table.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% include 'interferences/includes/navbar.html' %}


<h2>Submit chemicals</h2>
<p>
In the first step users can upload up to 100 chemicals using SMILES string format or using CASRN ID or DSSTox ID (see <a class = "aurl" href="https://comptox.epa.gov/dashboard">EPA comptox</a>). Inputs are standardized, filtered, and mixtures, ions and inorganic chemicals are excluded using the <a class = "aurl" href="http://molvs.readthedocs.io/en/latest/guide/intro.html">MolVS Python3.6 library</a>.
</p>

<div class="row">
    <div class="column">
            <a href="{% static 'interferences/img/interference_1.png' %}">
                <img src="{% static 'interferences/img/interference_1.png' %}" style="width:100%" alt="Example of upload SMILES page">
            </a>
        </div>
    <div class="column">
            <a href="{% static 'interferences/img/interference_2.png' %}">
                <img src="{% static 'interferences/img/interference_2.png' %}" style="width:100%" alt="SMILES clean process results">
            </a>
    </div>
</div>

<p>
Users can refine the chemical list uploaded at this step.
</p>

<br>
<h2>Compute descriptors</h2>
<p>
For each chemical a set of 677 structural descriptors is computed including 1D and 2D descriptors as well as physico-chemical descriptors using <a class = "aurl" href="http://www.rdkit.org/docs/">RDKit tool kit</a> implemented in Python 3.6 and <a class = "aurl" href="https://github.com/kmansouri/OPERA">OPERA models</a>. The computational time is around 2-5s per chemical.
</p>
<div class="row">
    <div class="column">
            <a href="{% static 'interferences/img/RDKIT.png' %}">
                <img src="{% static 'interferences/img/RDKIT.png' %}" style="width:30%" alt="RDKIT logo for illustration">
            </a>
        </div>
    <div class="column">
            <a href="{% static 'interferences/img/OPERA.png' %}">
                <img src="{% static 'interferences/img/OPERA.png' %}" style="width:30%" alt="OPERA logo for illustration">
            </a>
    </div>
</div>

<br>
<p>Users can download the descriptors matrix in csv format from RDKit tool kit and OPERA model at this step.</p>

<div class="row">
    <div class="column">
            <a href="{% static 'interferences/img/interference_3.png' %}">
                <img src="{% static 'interferences/img/interference_3.png' %}" style="width:100%" alt="Example of descriptor computation results">
            </a>
    </div>
</div>

<h2>Interference model prediction</h2>
<p>
Once descriptors have been computed, users can predict chemical interference activity by choosing one or several of the 17 interreference models proposed. Each model is an average of 10 different random forest models built to cover the full set of chemicals (cf. publication). The table below describes the available models. 
</p>
<p>All random forest models used can be downloaded in a <a class = "aurl" href="{% static 'interferences/modelsInterferences.tar.gz' %}">tar.gz archive</a> with the assciated <a class = "aurl" href="{% static 'interferences/predictfromModel.R' %}">Rscript</a> to run them individually.</p>

<br>
<div class="div-table">
    <div class="div-table-row">
        <div class="div-table-head">Model</div>
        <div class="div-table-head">Type of study</div>
        <div class="div-table-head">Wave length (color)</div>
        <div class="div-table-head">Cell culture</div>
        <div class="div-table-head">Condition</div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col">Luciferase</div>
        <div class="div-table-col">Luciferase</div>
        <div class="div-table-col">-</div>
        <div class="div-table-col">-</div>
        <div class="div-table-col">-</div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col">A-All</div>
        <div class="div-table-col">Autofluorescence</div>
        <div class="div-table-col">Blue, Green and Red</div>
        <div class="div-table-col">HepG2 and HEK293</div>
        <div class="div-table-col">Cell-based and cell-free </div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col">A-Blue</div>
        <div class="div-table-col">Autofluorescence</div>
        <div class="div-table-col">Blue</div>
        <div class="div-table-col">HepG2 and HEK293</div>
        <div class="div-table-col">Cell-based and cell-free </div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col">A-Green</div>
        <div class="div-table-col">Autofluorescence</div>
        <div class="div-table-col">Green</div>
        <div class="div-table-col">HepG2 and HEK293</div>
        <div class="div-table-col">Cell-based and cell-free </div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col">A-Red</div>
        <div class="div-table-col">Autofluorescence</div>
        <div class="div-table-col">Red</div>
        <div class="div-table-col">HepG2 and HEK293</div>
        <div class="div-table-col">Cell-based and cell-free </div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col">A-Blue HepG2 Cell-based</div>
        <div class="div-table-col">Autofluorescence</div>
        <div class="div-table-col">Blue</div>
        <div class="div-table-col">HepG2</div>
        <div class="div-table-col">Cell-based</div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col">A-Blue HEK293 Cell-based</div>
        <div class="div-table-col">Autofluorescence</div>
        <div class="div-table-col">Blue</div>
        <div class="div-table-col">HEK293</div>
        <div class="div-table-col">Cell-based</div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col">A-Blue HepG2 Cell-Free</div>
        <div class="div-table-col">Autofluorescence</div>
        <div class="div-table-col">Blue</div>
        <div class="div-table-col">HepG2</div>
        <div class="div-table-col">Cell-free </div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col">A-Blue HEK293 Cell-Free</div>
        <div class="div-table-col">Autofluorescence</div>
        <div class="div-table-col">Blue</div>
        <div class="div-table-col">HEK293</div>
        <div class="div-table-col">Cell-free </div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col">A-Green HepG2 Cell-based</div>
        <div class="div-table-col">Autofluorescence</div>
        <div class="div-table-col">Green</div>
        <div class="div-table-col">HepG2</div>
        <div class="div-table-col">Cell-based</div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col">A-Green HEK293 Cell-based</div>
        <div class="div-table-col">Autofluorescence</div>
        <div class="div-table-col">Green</div>
        <div class="div-table-col">HEK293</div>
        <div class="div-table-col">Cell-based</div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col">A-Green HepG2 Cell-Free</div>
        <div class="div-table-col">Autofluorescence</div>
        <div class="div-table-col">Green</div>
        <div class="div-table-col">HepG2</div>
        <div class="div-table-col">Cell-free </div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col">A-Green HEK293 Cell-Free</div>
        <div class="div-table-col">Autofluorescence</div>
        <div class="div-table-col">Green</div>
        <div class="div-table-col">HEK293</div>
        <div class="div-table-col">Cell-free </div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col">A-Red HepG2 Cell-based</div>
        <div class="div-table-col">Autofluorescence</div>
        <div class="div-table-col">Red</div>
        <div class="div-table-col">HepG2</div>
        <div class="div-table-col">Cell-based</div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col">A-Red HEK293 Cell-based</div>
        <div class="div-table-col">Autofluorescence</div>
        <div class="div-table-col">Red</div>
        <div class="div-table-col">HEK293</div>
        <div class="div-table-col">Cell-based</div>
    </div>
    <div class="div-table-row">
        <div class="div-table-col">A-Red HepG2 Cell-Free</div>
        <div class="div-table-col">Autofluorescence</div>
        <div class="div-table-col">Red</div>
        <div class="div-table-col">HepG2</div>
        <div class="div-table-col">Cell-free </div>
    </div>
   <div class="div-table-row">
        <div class="div-table-col">A-Red HEK293 Cell-Free</div>
        <div class="div-table-col">Autofluorescence</div>
        <div class="div-table-col">Red</div>
        <div class="div-table-col">HEK293</div>
        <div class="div-table-col">Cell-free</div>
    </div>
</div>

<p>
It takes around 1-2s per chemical and per model to compute the predictions.
</p>
</p>
<div class="row">
    <div class="column">
            <a href="{% static 'interferences/img/interference_5.png' %}">
                <img src="{% static 'interferences/img/interference_5.png' %}" style="width:100%" alt="Form to choose QSAR models">
            </a>
        </div>
</div>
<p>
    For quality check and speed purpose, each chemical no included in the DSSTox database will be add in our internal database by default.
    Users can choose to not save chemicals in the databse at this step.
</p>

<h2>Results</h2>
<p>
Results are presented in a dynamic table. For each model selected a score between 0 and 1 is reported with an associated standard deviation. The score is a probability for a chemical to interfere with the technology, cell culture and condition related to the model. A score close to 1 signifies that the chemical has a high chance to interfere with that particular technology and experimental condition. The standard deviation is derived from the deviation of the ten random forest model predictions.
</p>
<div class="row">
    <div class="column">
            <a href="{% static 'interferences/img/interference_6.png' %}">
                <img src="{% static 'interferences/img/interference_6.png' %}" style="width:100%" alt="Results table">
            </a>
        </div>
</div>

<p>
Users can download the table of results in a csv format. 
</p>
<br>
<br>

<p style="text-align:  center; font-size: 25px">
    Please cite: <a href="https://www.nature.com/articles/s41598-020-60747-3" style="color: rgb(32, 107, 7)">
        A. Borrel et al.; High-Throughput Screening to Predict Chemical-Assay Interference </a>
</p>


{% endblock content %}
