
{% block content %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/static/django_server/css/ntpweb.css" rel="stylesheet">
<link href="/static/django_server/css/ntpweb-shared.css" rel="stylesheet">
<link href="/static/django_server/css/base.css" rel="stylesheet">
<link href="/static/interferences/css/theme.css" rel="stylesheet">
<link href="/static/interferences/css/table.css" rel="stylesheet">

{% include 'interferences/includes/navbar.html' %}


<h2>Submit chemicals</h2>

<br>
<h2>Compute descriptors</h2>


<br>
<h2>QSAR prediction</h2>

<br>
<h2>Results</h2>


<br>
<br>
<p style="text-align:  center; font-size: 25px">
    Please cite: <a href="" style="color: #0074D9">
        Alexandre Borrel et al.; High-Throughput Screening to Predict Chemical-Assay Interference </a><br>
    (submitted)
</p>





{% endblock content %}
