{% extends "interferences/base.html" %}
{% block content %}
<link href="{{STATIC_URL}}interferences/css/theme.css" rel="stylesheet">
<h1 style="font-weight: 200">Resources</h1>
<br>

<h2>Submit chemicals</h2>

<br>
<h2>Compute descriptors</h2>


<br>
<h2>QSAR prediction</h2>

<br>
<h2>Results</h2>


<br>
<br>
<p style="text-align:  center; font-size: 25px">
    Please cite: <a href="https://www.nature.com/srep/" style="color: #0074D9">
        Alexandre Borrel et al.; High-Throughput Screening to Predict Chemical-Assay Interference </a><br>
    (submitted)
</p>





{% endblock content %}
