.rag-red {
    background-color: lightcoral;
}
.rag-green {
    background-color: lightgreen;
}
.rag-yellow {
    background-color: lightyellow;
}
.rag-orange {
    background-color: lightsalmon;
}
.grid-wrapper {
    height: 100%;
    padding-top: 26px;
    box-sizing: border-box;
}
